.left-avatar {

    height: 200px

}

.left-avatar img{

    float: right;
    width: 150px;
    height: 140px;
    margin:  58px 33px 0 0;
    border-radius: 10px;
    box-shadow:0px 2px 15px rgba(195,195,195,0.8);

}

.left-menu {

    float: right;
    margin: 20px 41px 50px 0;
    padding-bottom: 50px

}

.left-menu ul {

    list-style-type: none;
    padding: 0;
    width: 160px

}

.left-menu ul::-webkit-scrollbar {

    display: none

}

.left-menu a{

	display:block;
    font-size: 20px;
    letter-spacing: 2px;
	color: #555555;
	text-align:center;
	text-decoration:none;
	border-radius: 30px;
    background-color: #FFFFFF;
    padding: 13px 20px 22px 20px;
    width: 80%;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow:0px 2px 12px rgba(195,195,195,0.9);
    transition:background-color 0.4s, color 0.3s;
    
}

.left-menu a:hover:not(.active) {

    box-shadow: 1px 1px 3px #F7F7F7;
    background-color: #B5B5B5;
    color: white;

}

.left-menu a.active {

    box-shadow: 1px 1px 3px #F7F7F7;
    background-color: #B5B5B5;
    color: white;

}

.Wrapper {
    
    height: 100%

}  
     
.Wrapper .FooterPush {

    height: 30px;

}  
     
.Footer {

    float: right;
    clear: both;
    margin-right: 30px;
    margin-top: -30px; 
    height: 30px;

}