.brief_date{
	margin: 0 auto;
	padding: 0px 10px;
	font-weight: lighter;
	font-size: 13px;
}

.brief-content{
	padding: 9px 10px;
	line-height:25px;
	font-size: 15px;
	letter-spacing:2px;
    color: #333333
}

.look-more{
	font-size: 14px
}

.date{
	margin: 0 auto;
	padding: 0px 10px;
	font-weight: lighter;
	font-size: 15px;
}

.matter1_content{
	padding: 9px 10px;
	line-height:25px;
	font-size: 19px;
	letter-spacing:2px;
    color: #333333
}