.brief_date{
	margin: 0 auto;
	padding: 0px 10px;
	font-weight: lighter;
	font-size: 13px;
}

.brief-content{
	padding: 9px 10px;
	line-height:25px;
	font-size: 15px;
	letter-spacing:2px;
    color: #333333
}

.look-more{
	font-size: 14px
}

.date{
	margin: 0 auto;
	padding: 0px 10px;
	font-weight: lighter;
	font-size: 15px;
}

.matter1_content{
	padding: 29px 10px 9px 2.847%;
	line-height:25px;
	font-size: 19px;
	letter-spacing:2px;
    color: #333333
}

.windowReplyButton a{

    font-size: 14px;
    color: #adadad;

}

.window-input-field input {

	font-size: 15px;
	color: #555555;

}

.window-input-field input::-webkit-input-placeholder{
    color:#adadad;
    font-size: 14px;
}
.window-input-field input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#adadad;
    font-size: 14px;
}
.window-input-field input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#adadad;
    font-size: 14px;
}
.window-input-field input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#adadad;
    font-size: 14px;
}

.comment_list{

	font-size: 15px;

}

.window-comment-hint{

    font-size: 13px;
    color: #999999;

}

.suggestion-comment-hint{

    font-size: 13px;
    color: #999999;

}

.window-bubbly-button {

  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  background-color: #ababab;
  color: #fff;

}

.windowReply{

	font-size: 13px;
	color: #ababab;

}

.cancelReply a{

	font-size: 13px;
    color: #999999;

}

.qm{
	
	color: #adadad;
	font-size: 17px;

}


.signature-text2,.signature-text1{
	
	color: #7d7d7d;
	font-size: 19px;
	
}

.loadStatus{
	
  	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #7d7d7d;
	font-size: 17px;

}