body{

	font-family: Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
	letter-spacing: 1px;

}

.brief_date{

	margin: 0 auto;
	padding: 0px 10px;
	font-weight: lighter;
	font-size: 13px;

}

.brief-content{

	padding: 9px 10px;
	line-height:25px;
	font-size: 16px;
    color: #333333

}

.brief-content .brief-content-text{

	letter-spacing: 1px;

}

.beian{

    color: #4f4f4f;
    font-size: 14px;

}

.look-more{

	font-weight: normal;
	font-size: 14px;
    color: #348ae6;
	letter-spacing: 0px;

}

.date{

	font-weight: lighter;
	font-size: 15px;

}

.matter1_content{

	padding: 29px 10px 9px 2.847%;
	line-height:25px;
	font-size: 19px;
	letter-spacing:1px;
    color: #404040

}

.windowReplyButton a{

    font-size: 14px;
    color: #adadad;

}

.window-input-field input {

	font-size: 15px;
	color: #555555;

}

.window-input-field input::-webkit-input-placeholder{

    color:#adadad;
    font-size: 14px;

}

.window-input-field input::-moz-placeholder{   /* Mozilla Firefox 19+ */

    color:#adadad;
    font-size: 14px;

}

.window-input-field input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */

    color:#adadad;
    font-size: 14px;

}

.window-input-field input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 

    color:#adadad;
    font-size: 14px;

}

.comment_list{

	font-size: 15px;

}

.window-comment-hint{

    font-size: 13px;
    color: #999999;

}

.suggestion-comment-hint{

    font-size: 13px;
    color: #999999;

}

.window-bubbly-button {

  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  background-color: #ababab;
  color: #fff;

}

.windowReply{

	font-size: 13px;
	color: #ababab;

}

.cancelReply a{

	font-size: 13px;
    color: #999999;

}

.qm{
	
	color: #666666;
	font-size: 17px;

}


.signature-text2,.signature-text1{
	
	color: #7d7d7d;
	font-size: 19px;
	
}

.loadStatus{
	
	color: #7d7d7d;
	font-size: 17px;

}


.matter3-0 .title{

 	font-size: 30px;
 	color: #545454;

}

.matter3-0 .content{

	line-height:39px;
	font-size: 20px;
	color: #696969;

}

.matter3-1 .developer{

	padding-top: 30px;
	color: #737373;
	font-size: 27px;

}

.matter3-2 .content,.matter3-2 a{

	color: #737373;
	font-size: 27px;

}

.update_log{

	color: #737373;
	font-size: 18px;

}

.update_content,.update_content a{

	color: #737373;
	font-size: 18px;
	line-height: 29px;

}

.weather{

	font-size: 20px;
    color: #919191;

}

.weather .now-tem{
    
    font-size: 50px;
    color: #808080

}

.today-tem,
.tomorrow-tem,
.after-tomorrow-tem{

    font-size: 35px;
    color: #808080

}

.loading-weather{
	
	font-size: 20px;
	color: #a1a1a1;

}

.weather-menu{

	font-size: 16px;
	color: #707070

}

.matter2 .app-name{

	font-size: 20px;
	color: #707070

}

.time-progress-bar .tit{

	font-size: 17px;
	color: #666666

}

.right-fish-txt{

	font-size: 17px;
	color: #666666

}