a, abbr, address, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, label, legend, li, object, ol, p, pre, q, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, ul {
    
    border: 0;
    margin: 0;
    padding: 0;

}

a {

	text-decoration:none

}

img {

	border:none;

}

ul {

	list-style:none

}

button {

	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background-color:transparent

}

body {

	overflow-y:scroll;
	overflow-x:hidden;
	min-width: 0;
    margin: 0;
    padding: 0;
	background-color:#fcfcfc;

}

*{

    box-sizing: content-box;
	margin: 0;  
	padding: 0;

}

.left {

	position: fixed;
	width: 22%;
	height: 100%;
	float: left;
	overflow: auto;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;

}

.middle{

	width:50%;
    overflow:auto;
    margin-left:22%;
    margin-right:0; 
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;

}

.right {

	position: fixed;
	top: 0;
	left: 72%;
	width: 28%;
	height: 100%;
	overflow: auto;

}

a:hover{

	text-decoration: none;

}

.line-through {

	text-decoration:line-through

}

.condensed{

	font-stretch:condensed;

}

.bold{

	font-weight:600;

}


::-webkit-scrollbar {
	
	width: 1vw;
	height: 1vw;
	max-width: 8px;
	max-height: 10px;

}

::-webkit-scrollbar-track-piece {

	background-color: #fcfcfc;

}

::-webkit-scrollbar-thumb {

	border-radius: 10px;
	background-color: #cfcece;
	background-clip: padding-box;
	min-height: 28px;

}

::-webkit-scrollbar-thumb:hover {

	border-radius: 10px;
	background-color: #bbb;

}

::-webkit-scrollbar-track {

	border-radius: 10px;
	background: #EDEDED;

}

.left::-webkit-scrollbar {

    display: none;

}

.right::-webkit-scrollbar {

    display: none;

}

.middle::-webkit-scrollbar {

    display: none;

}