a, abbr, address, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, label, legend, li, object, ol, p, pre, q, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, ul {
    border: 0;
    margin: 0;
    padding: 0;
}

a {
	text-decoration:none
}

img {
	border:none;
}

ul {
	list-style:none
}

/*button {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background-color:transparent
}*/

html, body {
	/*overflow: hidden;*/
	overflow-y:scroll;
	overflow-x:hidden;
	min-width: 0;
    margin: 0;
    padding: 0;
	background-color:#FFFFFF;

}

.middle{
	width:55%;
    overflow:auto;
    margin-left:22%;
    overflow-y: auto
}

.left {
	width:22%;
	float: left;
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
}

.line-through {
	text-decoration:line-through
}


::-webkit-scrollbar {
	width:8px;
	height:10px;
}
::-webkit-scrollbar-track-piece {
	background-color:var(--webkit-scrollbar-track-piece-backgroung-color,#FFFFFF);
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color:#cfcece;
	background-clip:padding-box;
	min-height:28px;
}
::-webkit-scrollbar-thumb:hover {
	border-radius: 10px;
	background-color:#bbb;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #EDEDED;
}
