@media screen and (min-width: 0px) and (max-width: 1250px){

	.right{

		display: none;

	}

}

@media screen and (min-width: 0px) and (max-width: 1250px){

	.middle{

		width: 75%;

	}

}

@media screen and (min-width: 768px) and (max-width: 1000px){

	.middle{

		width: 75%;
		margin-left: 26%;

	}

	.left{

		width: 26%;

	}

	.matter0 .content,.matter0 .aCopy,.matter1 .content,.matter1 .aCopy{

		margin-left: 3%;

	}

	.left-menu ul {

		width: 138px;

	}

	.left-menu {

		margin-right: 38px;
		margin-top: 13px;

	}

	.left-avatar img{

		width: 140px;
		height: 130px;
		margin-right: 20px;

	}

	.Footer {

	    margin-right: 8px;
	
	}

}

@media screen and (min-width: 0px) and (max-width: 768px){


	.left{

		display: none;
		width: 55%;
		max-width: 300px;
		left: -55%;
		overflow: hidden;

	}

	.left-avatar img{

		position: relative;
		top: 6px;
	    width: 100px;
	    height: 100px;
	    margin: 0;
	    float: none;
	    border-radius: 50px;
	    box-shadow: none;

	}

	.left-avatar{

		text-align: center;
		height: auto;

	}

	.avatar-out{

		background-color: #fefefe;
	    width: 110px;
	    height: 110px;
	    margin: 0 auto;
	    margin-top: 74px;
	    border-radius: 60px;
	    box-shadow:0px 2px 15px rgba(195,195,195,0.8);

	}

	.left-menu a{

		display:block;
	    letter-spacing: 1px;
	    font-size: 18px;
	    background-color: transparent;
	    border-radius: 0px;
	    padding: 13px 0 20px 0;
	    width: 100%;
	    height: 20px;
	    margin: 0 auto;
	    box-shadow: none;
	    transition: background-color 0.4s, color 0.3s;
	    
	}

	.left-menu {

	    float: left;
	    width: 100%;
	    margin: 50px 0 0 0;
	    padding-bottom: 0px

	}

	.left-menu ul{

		width: 100%

	}

	.left-menu a.active {

	    box-shadow: none;
	    background: -webkit-linear-gradient(left, #ffffff, #cccccc, #cccccc, #ffffff); /* Safari 5.1 - 6.0 */
		background: -o-linear-gradient(right, #ffffff, #cccccc, #cccccc, #ffffff); /* Opera 11.1 - 12.0 */
		background: -moz-linear-gradient(right, #ffffff, #cccccc, #cccccc, #ffffff); /* Firefox 3.6 - 15 */
		background: linear-gradient(to right, #ffffff, #cccccc, #cccccc, #ffffff); /* 标准的语法 */
	    color: #555555;

	}

	.left-menu a:hover:not(.active) {

	    box-shadow: none;
	    background: -webkit-linear-gradient(left, #ffffff, #cccccc, #cccccc, #ffffff); /* Safari 5.1 - 6.0 */
		background: -o-linear-gradient(right, #ffffff, #cccccc, #cccccc, #ffffff); /* Opera 11.1 - 12.0 */
		background: -moz-linear-gradient(right, #ffffff, #cccccc, #cccccc, #ffffff); /* Firefox 3.6 - 15 */
		background: linear-gradient(to right, #ffffff, #cccccc, #cccccc, #ffffff); /* 标准的语法 */
	    color: #555555;

	}

	.Wrapper .FooterPush {

	    display: none;

	}
	
	.Wrapper{

		padding-top: 74px;

	}
	.Footer{

		display: none;

	}

	.middle{

		width: 90%;
		margin-left: 5%;

	}

	.matter0{

		padding: 0 0px 10px 0;

	}

	.matter1{

		padding: 0 0px 10px 0;

	}

	.matter0 .content, .matter0 .aCopy, .matter1 .content, .matter1 .aCopy{

		margin: 0 auto;
		margin-top: 13px;
		padding: 17px 13px 7px 13px;
		width: 90%;

	}

	.matter1_content{

		font-size: 17px;
		line-height: 30px;

	}

	.brief-content{

		padding-top: 7px;

	}

	#mainContent::-webkit-scrollbar {

	    display: none;

	}

	#window{

		padding: 13px 5%;

	}

	.markdown-body{

		padding: 0;
		padding-top: 15px;

	}

	#ajax_window_html{

		position: relative;
		left: -10px;

	}

	.window-submit-button {

	    left: 77.9%

	}

	.window-input-comment {

	    left: 34.2%;

	}

	.content .brief_date, .aCopy .brief_date{

		font-weight: normal;
		font-size: 12px;
		color: #555555;

	}

	#windowContent .date{

		font-weight: normal;
		font-size: 14px;
		color: #555555;

	}

	#window #mainContent{

		padding-top: 6px;

	}

	.content-margin{

	    margin: 14px 5px 0 10px;

	}

	.bold {

	    font-weight: normal;

	}

	.middle .title{

		color: #000000;

	}

	.brief-content-text{

		color: #777777;

	}

	.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6{

		font-size: 16px;
		font-weight: normal;

	}

	.matter0 .content:hover, .matter1 .content:hover {

	    transform: none;

	}

	.matter0,.matter1{

		margin-top: -7px;

	}

	.list-icon-1{

		display: inline;
		
	}

	.pct-nav{

		display: none;

	}

	.matter3-0 .content {

	    text-indent: 2em;
	    padding: 14px 0 0 0;

	}

	.window-comment-hint {

	    top: 68px;
	    
	}

	.matter3-0 .title {

	    padding-top: 30px;
	    font-size: 24px;

	}
	
	.matter3-0 .content {

	    line-height: 33px;
	    font-size: 18px;
	    color: #696969;

	}

	.matter3-0 .title_3{

	    padding-top: 60px;

	}

	.matter3-0 .title_1{

	    padding-top: 0px;

	}

	.beian{

		color: #7d7d7d;

	}

	.matter2{

		margin: 0;
		width: auto;

	}

	.matter2 .app {

		margin-left: 20px;
    	margin-top: 20px;
    	min-width: 140px;
    	height: 170px;

	}

	.app .img-box {
		
		height: 100px;
	    box-shadow: 0px 0px 10px rgba(170,170,170,0.9);

	}

	.app .bg-bottom-box {

		box-shadow: 0px 0px 7px rgba(212,212,212,0.9)

	}

	.app .bottom-box, .app .bg-bottom-box{

		top: 100px;

	}

	.app .img-box img {

	    top: -17px;

	}

	.matter2 .app-name{

		font-size: 18px;

	}

	.content-4{

	    display: inline;

	}

}
