@media screen and (min-width: 0px) and (max-width: 1250px){

	.right{

		display: none;

	}

}

@media screen and (min-width: 0px) and (max-width: 1250px){

	.middle{

		width: 75%;

	}

}

@media screen and (min-width: 768px) and (max-width: 1000px){

	.middle{

		width: 75%;
		margin-left: 26%;

	}

	.left{

		width: 26%;

	}

	.matter0 .content,.matter0 .aCopy,.matter1 .content,.matter1 .aCopy{

		margin-left: 3%;

	}

	.left-menu ul {

		width: 138px;

	}

	.left-menu {

		margin-right: 38px;
		margin-top: 13px;

	}

	.left-avatar img{

		width: 140px;
		height: 130px;
		margin-right: 20px;

	}

	.Footer {

	    margin-right: 8px;
	
	}

}

@media screen and (min-width: 0px) and (max-width: 768px){


	.left{

		display: none;

	}

	.middle{

		width: 90%;
		margin-left: 5%;

	}

	.matter0{

		padding: 0 0px 50px 0;

	}

	.matter0 .content, .matter0 .aCopy, .matter1 .content, .matter1 .aCopy{

		margin: 0 auto;
		margin-top: 15px;

	}

	#mainContent::-webkit-scrollbar {

	    display: none;

	}

	#window{

		padding: 13px 5%;

	}

	.markdown-body{

		padding: 0;
		padding-top: 15px;

	}

	#ajax_window_html{

		position: relative;
		left: -10px;

	}

	.window-submit-button {

	    left: 77.9%

	}

	.window-input-comment {

	    left: 34.2%;

	}

	.content .brief_date{

		font-weight: normal;
		font-size: 12px;

	}

	#windowContent .date{

		font-weight: normal;
		font-size: 14px;

	}

}
