#matter0 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#matter0 ul::-webkit-scrollbar {
        display: none;
    }

#matter0 ul li {
	display: none;
}

#matter0 a
{
	display:block;
    /*文本*/
    letter-spacing: 2px;
	color: #000000;
	text-decoration:none;
    /*形状*/
	border-radius: 15px;
    background-color: #FFFFFF;
    padding: 17px 20px;
    width: 85%;
    height: 84px;
    margin-left: 5%;
    margin-top: 10px;
    /*阴影*/
    -moz-box-shadow:2px 2px 6px #bfbfbf; 
    -webkit-box-shadow:2px 2px 6px #bfbfbf;
    box-shadow:2px 2px 6px #bfbfbf;
    /*渐变*/
    transition:background-color 0.4s;

}

#matter0 a:hover:not(.active) {
    box-shadow: 1px 1px 3px #F7F7F7;
    background-color: #ededed;
}

#matter0 h4{
	margin: 0 auto;
	padding: 0px 10px;
	font-weight: lighter;
	font-size: 12px;
}

#matter0 p{
	padding: 0px 10px;
	font-size: 14px;

}

#matter0 a.active {
	box-shadow: 1px 1px 3px #F7F7F7;
    background-color: #ededed;
}


#matter1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#matter1 ul::-webkit-scrollbar {
        display: none;
    }

#matter1 a
{
	display:block;
    /*文本*/
    letter-spacing: 2px;
	color: #000000;
	text-decoration:none;
    /*形状*/
	border-radius: 15px;
    background-color: #FFFFFF;
    padding: 17px 20px;
    width: 85%;
    height: 84px;
    margin-left: 5%;
    margin-top: 10px;
    /*阴影*/
    -moz-box-shadow:2px 2px 6px #bfbfbf; 
    -webkit-box-shadow:2px 2px 6px #bfbfbf;
    box-shadow:2px 2px 6px #bfbfbf;
    /*渐变*/
    transition:background-color 0.4s;
}

#matter1 a:hover:not(.active) {
    box-shadow: 1px 1px 3px #F7F7F7;
    background-color: #ededed;
}

#matter1 h4{
	margin: 0 auto;
	padding: 0px 10px;
	font-weight: lighter;
	font-size: 12px;
}

#matter1 p{
	padding: 0px 10px;
	font-size: 14px;

}