body{

	text-align: center;

}

p, h3{

	margin: 0 auto;
	width: 90%;
	margin-top: 10px;
	text-align: left;

}

h3{

	margin-top: 30px;

}

.return{
	
	display: block;
	position: relative;
	text-align: center;
	color: #555;
	width: 100px;
	height: 34px;
	border-radius: 17px;
	margin-top: 20px;
	margin-left: 10px;
 	box-shadow: 1px 1px 5px rgba(150,150,150,0.8);

}

a:hover{

	text-decoration: none;

}

a {

	text-decoration:none

}

.center-relative{

	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	width: 100%;

}

.center-absolute{

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	width: 100%;

}

.return-div{

	text-align: left;
	width: 90%;
	margin: 0 auto;

}