a, abbr, address, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, label, legend, li, object, ol, p, pre, q, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, ul {
    
    border: 0;
    margin: 0;
    padding: 0;

}

body,html{

	width: 100%;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', sans-serif;

}

::-webkit-scrollbar {

    display: none;

}

*{

	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

img {

    border: none;

}

ul {

	list-style:none

}

a{

	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	color: #000;

}

body{

	text-align: center;

}

.mian_content{
	
	position: relative;
	top: 0;

}

.title{
	
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: bold;

}

.floor-bar{

	text-align: left;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 5px;
	margin-top: 20px;
	border-top: 2px solid rgba(0,0,0,0.2)

}

.floor-bar div{

	display: inline-block;

}

.floor-bar .floor-num{
	
	font-size: 13px;
	border-radius: 3px;
	border: 1px solid #555;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 10px;

}

.floor-bar .floor-time{
	
	font-size: 15px;
	color: rgba(0,0,0,0.8);

}

.floor-text{

	margin-left: 30px;
	margin-right: 30px;
	text-align: left;

}

.floor-text .image{
	
	padding-top: 4px;
	width: 100%;
	max-width: 570px;

}

.floor-text span{
	
	display: inline-block;
	
}

.floor-text .image, .floor-text span:not(.line-through){

	margin-top: 11px;

}

.line-through{
	
	text-decoration: line-through;
	margin: 0 2px 0 2px;

}