a, abbr, address, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, label, legend, li, object, ol, p, pre, q, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, ul {
    
    border: 0;
    margin: 0;
    padding: 0;

}

body,html{

	width: 100%;
	height: 100%;
	min-height: 550px;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', sans-serif;

}

::-webkit-scrollbar {

    display: none;

}

*{

	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

img {

    border: none;

}

ul {

	list-style:none

}

a{

	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	color: #000;

}

a:active{

	color: #000;

}

a:visited{
	
	color: #444;

}

body{

	text-align: center;

}

.ngaShadiaoImage{
	
	background: rgba(249,254,254,0.7);

}

.button{

	background: #555555;
	border-radius: 35px;
	margin: 0 auto;
	margin-bottom: 20px;
	height: 60px;
	width: 70%;
	max-width: 450px;
	cursor: pointer;

}

.button div{
	
	color: #ffffff;
	font-size: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	width: 100%;

}

.button1{

	margin-top: 150px;

}

.main-list{
	
	display: block;
	opacity: 0;
	position: relative;
	margin: 0 auto;
	height: 100px;
	width: 90%;
	margin-top: 10px;
	box-shadow:1px 1px 3px rgba(30,113,113,0.3);
	background: #ffffff;

}

.main-list-transition a{

	transition: opacity 0.28s;
    -webkit-transition: opacity 0.28s;
    -moz-transition: opacity 0.28s;
    -o-transition: opacity 0.28s;
    -ms-transition: opacity 0.28s;

}

.main-list .left{
	
	position: absolute;
	width: 100px;
	height: 100%;
	min-width: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.main-list .left:after{

    content: '';
    position: absolute;
    left: auto;
    top: auto;
    bottom: 10px;
    right: 0;
    height: 80px;
    width: 2px;
    background-color: rgba(195,195,195,0.5);

}

.main-list .right{
	
	position: absolute;
	height: 100%;
	left: 100px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 18px;

}

.center-relative{

	position: relative;
	top: 50%;
	transform: translateY(-50%);

}

.center-absolute{

	position: absolute;
	top: 50%;
	transform: translateY(-50%);

}

.main-list .left .author{
	
	position: relative;
	height: 65%;
	
}

.main-list .left .time{
	
	position: relative;
	height: 35%;
	font-size: 13px;
	color: #666;
	
}

.main-list .right .title{
	
	position: relative;
	height: 60px;
	text-align: left;

}

.sort-bar{
	
	display: block;
	position: relative;
	border-radius: 4px;
	margin: 0 auto;
	height: 26px;
	width: 90%;
	margin-top: 10px;
	box-shadow:0px 0px 2px rgba(30,113,113,0.3);
	background: #ffffff;
	color: #666

}

.sort-bar .left{
	
	position: absolute;
	width: 100px;
	height: 100%;
	min-width: 100px;
	
}

.sort-bar .left:after{

    content: '';
    position: absolute;
    left: auto;
    top: auto;
    bottom: 3px;
    right: 0;
    height: 20px;
    width: 2px;
    background-color: rgba(195,195,195,0.5);

}

.sort-bar .right{
	
	position: absolute;
	height: 100%;
	left: 100px;
	padding-left: 15px;
	padding-right: 15px;

}

.sort-bar .notice{

	text-decoration: none;

}

.sort-bar .sort-img{

	

}