a, abbr, address, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, label, legend, li, object, ol, p, pre, q, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, ul {
    
    border: 0;
    margin: 0;
    padding: 0;

}

body,html{

	width: 100%;
	height: 100%;
	min-height: 550px;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	background: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', sans-serif;

}

::-webkit-scrollbar {

    display: none;

}

*{

	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

img {

    border: none;

}

ul {

	list-style:none

}

a{

	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

}

header{

	width: 100%;
	height: 50px;
	background-color: rgba(184,248,212,0.1);

}

.right{

	float: right;
	padding: 12px 18px 8px 8px;

}

.right a{
	
	padding: 0 7px 7px 7px;

}

.left{

	float: left;
	padding: 12px 0 0 21px;

}

.header{

	font-size: 18px;
	color: #555;
	font-weight: normal;

}

.main-box{

	margin: 0 auto;
	margin-top: 7%;
	width: 92%;

}

.hex-bar{
	
	margin: 0 auto;

}

.hex{

	display: inline-block;
	cursor: default;
	width: 100px;
	height: 40px;
	padding-top: 9px;
	margin-bottom: 20px;
	background: rgba(184,248,212,0.1);
	transition: background-color 0.25s;
    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    /*设为不可选*/
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.other-hex-menu{
	
	display: none;
	cursor: default;
	overflow: scroll;
	float: left;
	width: 100px;
	height: 0px;
	margin-top: 7px;
	border: solid 1px #bff9d8;/*0.9*/
	-webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -o-transition: height 0.3s;

}

.other-hex-menu-clicked{

	height: 272px;

}

.other-hex-menu li{

	height: 40px;
	padding-top: 9px;

}

.other-hex-menu li:nth-of-type(odd){ 

	background: #ffffff;

}
.other-hex-menu li:nth-of-type(even){ 

	background: #e9fdf2;/*0.3*/

}

.hex:hover:not(.active){

	background-color: rgba(184,248,212,0.4);

}

.hex-input-box{

	margin: 0 auto;
	margin-bottom: 30px;

}

/*输入框宽度适配*/
@media screen and (min-width:   0px) and (max-width: 222px){.instructions-text-active, .hex-input-box{width: 100px;}}
@media screen and (min-width: 223px) and (max-width: 336px){.instructions-text-active, .hex-input-box{width: 205px;}}
@media screen and (min-width: 337px) and (max-width: 450px){.instructions-text-active, .hex-input-box{width: 310px;}}
@media screen and (min-width: 451px) and (max-width: 564px){.instructions-text-active, .hex-input-box{width: 415px;}}
@media screen and (min-width: 565px) and (max-width: 678px){.instructions-text-active, .hex-input-box{width: 530px;}}
@media screen and (min-width: 679px)                       {.instructions-text-active, .hex-input-box{width: 624px;}}



.hex-input{

    width: 100%;
    height: 40px;
    border: 2px solid rgba(184,248,212,1);
    outline: none;
    color: #555;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    caret-color: rgba(146,246,189,1);

}

.hex-bar .active{

	background-color: rgba(184,248,212,0.8);

}

.convert-box{
	
	position: relative;
	width: 77px;
	height: 36px;
	margin: auto;
	margin-bottom: 30px;
	background-color: rgba(184,248,212,0.2);

}

.convert-button{

	display: inline-block;
	height: 36px;

}

.convert-img{

	height: 36px;

}

.bc-square{

	position: absolute;
	left: 0;
	height: 36px;
	width: 36px;
	z-index: -1;
	background-color: rgba(184,248,212,0.8);
	transition: left 0.35s;
    -webkit-transition: left 0.35s;
    -moz-transition: left 0.35s;
    -o-transition: left 0.35s;

}

.bc-square-active{

	left: 41px;

}

.other-hex-select-box .triangle{

    width: 11px;
    margin-left: 5px;
    transition: transform 0.25s;
    -webkit-transition: transform 0.25s;
    -moz-transition: transform 0.25s;
    -o-transition: transform 0.25s;

}

.hex-select-active .triangle{

	transform:rotate(180deg);
	-ms-transform:rotate(180deg); 	/* IE 9 */
	-moz-transform:rotate(180deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
	-o-transform:rotate(180deg); 	/* Opera */

}

.instructions-button{
	
	margin: 0 auto;
    font-size: 13px;
    width: 91px;
    height: 31px;
    background-color: rgba(184,248,212,0.8);
    padding-top: 6px;

    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.instructions-button span{
	
	margin-left: 9px;

}

.instructions-button .triangle{

    width: 10px;
    margin-left: 1px;
    transition: transform 0.25s;
    -webkit-transition: transform 0.25s;
    -moz-transition: transform 0.25s;
    -o-transition: transform 0.25s;

}

.instructions-button-active .triangle{

	transform:rotate(180deg);
	-ms-transform:rotate(180deg); 	/* IE 9 */
	-moz-transform:rotate(180deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
	-o-transform:rotate(180deg); 	/* Opera */

}

.instructions-text{

	display: none;
	color: #333333;
	font-size: 15px;

}

.instructions-text-active{

	display: block;
	margin: 0 auto;
	margin-bottom: 50px;

}

.instructions-text-active *{
	
	text-align: left;
	margin-top: 8px;

}

.instructions-text .title{

	color: #000000;
	font-size: 17px;
	
}

.Wrapper{

	min-height: 100%;

}

.Wrapper .FooterPush{

	height: 30px; /* Footer 的高度 */

}  
     
.Footer{

	clear: both;
	position: relative;  
	margin-top: -30px; 
	height: 30px;
	width: 100%;
	text-align: center;
	z-index: -1;

}

.Footer .beian{

	font-size: 14px;
	color: #949494;

}