a, abbr, address, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, label, legend, li, object, ol, p, pre, q, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, ul {
    
    border: 0;
    margin: 0;
    padding: 0;

}

body,html{

	width: 100%;
	height: 100%;
	min-height: 550px;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	/*background: #fcfcfc;*/
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', sans-serif;

}

::-webkit-scrollbar {

    display: none;

}

*{

	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

img {

    border: none;

}

ul {

	list-style:none

}

a{

	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

}

header{

	width: 100%;
	height: 60px;
	background-color: rgba(184,248,212,0.3);

}

.right{

	float: right;
	padding: 15px 18px 8px 8px;

}

.right a{
	
	padding: 0 7px 7px 7px;

}

.left{

	float: left;
	padding: 15px 0 0 21px;

}

.header{

	font-size: 20px;
	color: #555;
	font-weight: normal;

}

.main-box{

	margin: 0 auto;
	margin-top: 7%;
	width: 92%;

}

.hex-bar{
	
	margin: 0 auto;

}

.hex{

	display: inline-block;
	width: 100px;
	height: 40px;
	padding-top: 8px;
	margin-bottom: 20px;
	background: rgba(184,248,212,0.1);
	transition: background-color 0.25s;
    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;

}

.hex:hover:not(.active){

	background-color: rgba(184,248,212,0.4);

}

.hex-input-box{

	margin: 0 auto;
	margin-bottom: 30px;
	width: 624px;

}

/*输入框宽度适配*/
@media screen and (min-width: 0px) and (max-width: 222px){.hex-input-box{width: 100px;}}
@media screen and (min-width: 223px) and (max-width: 336px){.hex-input-box{width: 205px;}}
@media screen and (min-width: 337px) and (max-width: 450px){.hex-input-box{width: 310px;}}
@media screen and (min-width: 451px) and (max-width: 564px){.hex-input-box{width: 415px;}}
@media screen and (min-width: 565px) and (max-width: 678px){.hex-input-box{width: 530px;}}


.hex-input{

    width: 100%;
    height: 40px;
    border: 2px solid rgba(184,248,212,1);
    outline: none;
    color: #555;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    caret-color: rgba(146,246,189,1);

}

.hex-bar .active{

	background-color: rgba(184,248,212,0.9);

}

.convert-box{
	
	position: relative;
	width: 77px;
	height: 36px;
	margin: auto;
	margin-bottom: 30px;
	background-color: rgba(184,248,212,0.2);

}

.convert-button{

	display: inline-block;
	height: 36px;

}

.convert-img{

	height: 36px;

}

.bc-square{

	position: absolute;
	left: 0;
	height: 36px;
	width: 36px;
	z-index: -1;
	background-color: rgba(184,248,212,0.9);
	transition: left 0.35s;
    -webkit-transition: left 0.35s;
    -moz-transition: left 0.35s;
    -o-transition: left 0.35s;

}

.bc-square-active{

	left: 41px;

}

.Wrapper{

	min-height: 100%;

}

.Wrapper .FooterPush{

	height: 30px; /* Footer 的高度 */

}  
     
.Footer{

	clear: both;
	position: relative;  
	margin-top: -30px; 
	height: 30px;
	width: 100%;
	text-align: center;

}

.Footer .beian{

	font-size: 14px;
	color: #949494;

}