body,html{

	width: 100%;
	height: 100%;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fcfcfc;

}

*{

	box-sizing: border-box;

}

img {

    border: none;

}

a{

	text-decoration: none;

}

header{

	width: 100%;
	height: 60px;

}

.right{

	float: right;
	padding: 15px 8px 8px 8px;

}

.right a{

	font-size: 20px;
	padding: 0 7px 7px 7px;
	color: #0083FF;

}

.left{

	float: left;
	padding: 15px 0 0 15px;
	color: #0083FF;
	font-size: 20px

}

.main-box{

	text-align: center;

}

.search-box{
	
	position: relative;
	width: 70%;
	max-width: 750px;
	margin: 0 auto;
	margin-top: 130px;

}

.search-box input{

	width: 98%;
	height: 40px;
	border-radius: 20px;
	border: 2px solid rgba(0,131,255,0.5);
	outline: none;

	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
	caret-color: rgba(0,131,255,0.7);

}

.search-box input::-webkit-input-placeholder {

	color: #cccccc;
	font-size: 18px;

}

.search-button{
	
	position: relative;
	color: #ffffff;
	cursor:pointer;
	font-size: 19px;
	letter-spacing: 3px;
	width: 20%;
	max-width: 110px;
	height: 38px;
	border-radius: 19px;
	padding-top: 8px;
	margin: 0 auto;
	margin-top: 30px;
	background: rgba(0,131,255,0.8);

}

footer{

	position: absolute;
	width: 100%;
	text-align: center;
    bottom: 18px;

}

.mzsm{
	
	display: block;
	font-size: 14px;
	color: #949494;
	margin-bottom: 4px;

}

.beian{
		
	font-size: 14px;
	color: #949494;

}