{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/notFoundPage/404.css' %}">
	<title>404</title>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
		axios.get('/')
		  .then(function (response) {
		    console.log(response);
		  })
		  .catch(function (error) {
		    console.log(error);
		  });
	</script>
</head>
<body>
	<div id="content">
		<h1>404</h1>
		<p>网站出了一点故障，Emiya酱正在努力修复中，抱歉o(><)o</p>
	</div>
</body>
</html>