<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生成短链接</title>
    <script type="text/javascript" src="/static/js/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <input type="text" id="dwzLongUrl">
    <button id="submit">提交</button>
    <div id="dwzUrl"></div>
    <script>
        $.ajax({
	        url:"/dwz",
	        type:"POST",
	        data:{"dwzLongUrl":dwzLongUrl},
	        success:function(data){
	            document.getElementById("dwzUrl").innerText = data.dwzUrl;
	        }
	    })
    </script>
</body>
</html>