<!DOCTYPE html>
<html lang="cn">
<head>
	<meta charset="utf-8">
	<title>禾禾的博客</title>
	<link rel="icon" type="image/png" href="/static/static2/images/avatar.jpg">
	<script type="text/javascript" src="/static/static2/js/jquery/1.10.2/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="keywords" content="禾禾的博客">
	<meta name="description" itemprop="description" content="禾禾的博客">
	<link rel="stylesheet" type="text/css" href="/static/static2/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/static2/css/font.css">
	<link rel="stylesheet" type="text/css" href="/static/static2/css/left/left.css">
	<link rel="stylesheet" type="text/css" href="/static/static2/css/right/signature.css">
	<link rel="stylesheet" type="text/css" href="/static/static2/css/right/weather.css">
	<link rel="stylesheet" type="text/css" href="/static/static2/css/right/time-progress-bar.css">
	<link rel="stylesheet" type="text/css" href="/static/static2/css/middle/matter0.css">
	<link rel="stylesheet" type="text/css" href="/static/static2/css/middle/matter1.css">
	<link rel="stylesheet" type="text/css" href="/static/static2/css/middle/matter2.css">
	<link rel="stylesheet" type="text/css" href="/static/static2/css/middle/matter3.css">
	<link rel="stylesheet" type="text/css" href="/static/static2/css/weather-icon.css">
</head>
<body>
	<div class="left" id="left">
		<div class="Wrapper">
			<div class="left-avatar">
				<div class="avatar-out">
					<img src="/static/static2/images/avatar.jpg"/>
				</div>
			</div>
			<div class="left-menu" id="left-menu">
				<ul>
		            <li id="li-0">
						<a href="#matter0" class="active">个人介绍</a>
		            </li>
		            <li id="li-1">
						<a href="#matter1">技能简介</a>
		            </li>
		            <li id="li-2">
		            	<a href="#matter2">我的兴趣</a>
		            </li>
		            <li id="li-3">
						<a href="#matter3">联系我<span class="line-through">们</span></a>
		            </li>
		        </ul>
			</div>
			<div class="FooterPush"></div>
		</div>
		<div class="Footer beian-left-footer"><a href="http://www.miitbeian.gov.cn/" target="_blank" class="beian">晋ICP备00000001号-1</a></div>
		<div class="Footer left-version">version: 1.0</div>
	</div>
    <div class="middle" id="middle">
        <div id="matter0" class="matter0" style="display: block;">
            <ul>
            	<li style="display: list-item;">
			        <div class="content" style="height: 500px;">
			            一堆话
			        </div>
			    </li>
            	<li style="display: list-item;">
			        <a class="content" href="#">
			            <div class="brief_date ligther-font">
			                2019年05月16日  星期四
			            </div>
			            <div>
			                <div class="brief-content">
			                    <div class="bold title">为什么所有浏览器的userAgent都带Mozilla</div>
			                    <div class="brief-content-text">最早的时候有一个浏览器叫NCSAMosaic，把自己标称为NCSA_Mo</div>
			                </div>
			            </div>
			        </a>
			    </li>
			    <li style="display: list-item;">
			        <a class="content" href="#">
			            <div class="brief_date ligther-font">
			                2019年05月16日  星期四
			            </div>
			            <div>
			                <div class="brief-content">
			                    <div class="bold title">为什么所有浏览器的userAgent都带Mozilla</div>
			                    <div class="brief-content-text">最早的时候有一个浏览器叫NCSAMosaic，把自己标称为NCSA_Mo</div>
			                </div>
			            </div>
			        </a>
			    </li>
            </ul>
        </div>
        <div id="matter1" class="matter1" style="display: none;">
            <ul>
			   <li style="display: list-item;">
			        <a class="content" href="#">
			            <div class="brief_date ligther-font">
			                2019年06月22日  星期六 多云
			            </div>
			            <div>
			                <div class="brief-content">
			                    <div class="brief-content-text">
			                        今天是个好日子
			                    </div>
			                </div>
			            </div>
			        </a>
			    </li>
			    <li style="display: list-item;">
			        <a class="content" href="#">
			            <div class="brief_date ligther-font">
			                2019年06月22日  星期六 多云
			            </div>
			            <div>
			                <div class="brief-content">
			                    <div class="brief-content-text">
			                        今天是个好日子
			                    </div>
			                </div>
			            </div>
			        </a>
			    </li>
			    <li style="display: list-item;">
			        <a class="content" href="#">
			            <div class="brief_date ligther-font">
			                2019年06月22日  星期六 多云
			            </div>
			            <div>
			                <div class="brief-content">
			                    <div class="brief-content-text">
			                        今天是个好日子
			                    </div>
			                </div>
			            </div>
			        </a>
			    </li>
			    <li style="display: list-item;">
			        <a class="content" href="#">
			            <div class="brief_date ligther-font">
			                2019年06月22日  星期六 多云
			            </div>
			            <div>
			                <div class="brief-content">
			                    <div class="brief-content-text">
			                        今天是个好日子
			                    </div>
			                </div>
			            </div>
			        </a>
			    </li>
            </ul>
        </div>
		<div id="matter2" class="matter2" style="display: none">这里是我的兴趣</div>
        <div id="matter3" class="matter3" style="display: none">这里是联系我们</div>
    </div>
    <div class="right">
    	<div class="loading-weather">
    		<div class="loading">加载中...</div>
    	</div>
    	<div class="weather">
    		<div class="now-weather" id="w_matter_0" style="display: inline;">
	    		<div class="weather-info">
		    		<div class="now-tem"></div>
		    		<div class="now-city"></div>
		    		<div class="now-wdp"></div>
		    		<div class="now-aq"></div>
	    		</div>
	    		<div class="weather-mod">
	    			<div class="weather-icon"></div>
	    			<div class="weather-background"></div>
	    		</div>
	    	</div>
	    	<div class="today-weather" id="w_matter_1" style="display: none;">
	    		<div class="weather-info">
		    		<div class="today-tem"></div>
		    		<div class="now-city"></div>
		    		<div class="today-wdp"></div>
		    		<div class="today-wea"></div>
	    		</div>
	    		<div class="weather-mod">
	    			<div class="weather-icon"></div>
	    			<div class="weather-background"></div>
	    		</div>
	    	</div>
	    	<div class="tomorrow-weather" id="w_matter_2" style="display: none;">
	    		<div class="weather-info">
		    		<div class="tomorrow-tem"></div>
		    		<div class="now-city"></div>
		    		<div class="tomorrow-wdp"></div>
		    		<div class="tomorrow-wea"></div>
	    		</div>
	    		<div class="weather-mod">
	    			<div class="weather-icon"></div>
	    			<div class="weather-background"></div>
	    		</div>
	    	</div>
	    	<div class="after-tomorrow-weather" id="w_matter_3" style="display: none;">
	    		<div class="weather-info">
		    		<div class="after-tomorrow-tem"></div>
		    		<div class="now-city"></div>
		    		<div class="after-tomorrow-wdp"></div>
		    		<div class="after-tomorrow-wea"></div>
	    		</div>
	    		<div class="weather-mod">
	    			<div class="weather-icon"></div>
	    			<div class="weather-background"></div>
	    		</div>
	    	</div>
	    	<div class="weather-menu">
	    		<ul>
	    			<li id="wli-0" class="active"><span class="wli-txt">实时</span></li>
        			<li id="wli-1"><span class="wli-txt">今天</span></li>
        			<li id="wli-2"><span class="wli-txt">明天</span></li>
        			<li id="wli-3"><span class="wli-txt">后天</span></li>
	    		</ul>
	    	</div>
    	</div>
    	<div class="signature" style="display: inline;">
    		<span class="qm">签 名</span>
    		<div class="signature-text">
    			<div class="signature-text1"><span style="opacity:0;">我的签名</span></div>
    			<div class="signature-text2">我的签名</div>
    		</div>
    	</div>
    	<div class="time-progress-bar">
    		<div class="tit">您的<span class="now-year"></span>使用进度</div>
    		<div class="my-progress-bar-bg"></div>
    		<div class="my-progress-bar-cover"></div>
    		<div class="my-progress-bar-txt"></div>
    	</div>
    </div>
    <div id="windowBackground" class="windowBackground"></div>
    <div id='window' class="openWindow"></div>
    <script type="text/javascript">
		URLHREF = window.location.href;
		MAINURL = URLHREF.split('#')[0];
		URLHASH = URLHREF.split('?')[0].split('/')[3];
		if (URLHASH == '' || URLHASH == '#'){
			URLHASH = '#matter0';
		}
		try{
			LINUM = $(URLHASH).parent().attr('id').split('-')[1];
		}
		catch(err){
			LINUM = 0;
		}
		nowMatter = 'matter'+LINUM;
    </script>
    <script type="text/javascript" src="/static/static2/js/main.js"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script type="text/javascript" src="/static/static2/js/weather.js"></script>
</body>
</html>