{% load staticfiles %}
<!DOCTYPE html>
<html lang="cn-ZH">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name=”keywords” content="在线进制转换 在线工具 在线转换">
	<meta name=”description” content="在线进制转换工具，支持任意进制之间的转换，支持浮点数转换">
	<meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="shortcut icon" href="{% static 'images/favicon1.ico' %}" /> 
	<link rel="bookmark" href="{% static 'images/favicon1.ico' %}" type="image/x-icon" /> 
	<link rel="stylesheet" type="text/css" href="{% static 'css/hexconvert/hexconvert.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery/1.10.2/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/EventUtil.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/timer.js' %}"></script>
	<title>在线进制转换</title>
</head>
<body>
	<div class="Wrapper">
		<header>
			<div class="left"><h1 class="header">进制转换</h1></div>
			<div class="right"><a href="/#application" class="header">首页</a></div>
		</header>
		<div class="main-box">
			<div class="hex-bar hex-bar1">
				<div class="hex" data-num="2">二进制</div>
				<div class="hex" data-num="4">四进制</div>
				<div class="hex" data-num="8">八进制</div>
				<div class="hex active" data-num="10">十进制</div>
				<div class="hex" data-num="16">十六进制</div>
				<div class="hex other-hex-select-box">
					<span class="selected-hex">32进制</span>
					<img src="{% static 'images/triangle1.png' %}" class="triangle">
					<div class="other-hex-menu">
						<ul data-hex="hex1ul">
							<script type="text/javascript">
								var liHtml = '';
								for (let i = 3; i <= 36; i++) {liHtml += '<li>'+i+'进制</li>';}
								document.write(liHtml);
							</script>
						</ul>
					</div>
				</div>
			</div>
			<div class="hex-input-box">
				<input type="text" class="hex-input input1" id="input1" data-hex="" data-value="">
			</div>
			<div class="convert-box">
				<div id="bc_square" class="bc-square"></div>
				<div class="convert-button active">
					<img src="{% static 'images/jt1.png' %}" class="convert-img">
				</div>
				<div class="convert-button">
					<img src="{% static 'images/jt2.png' %}" class="convert-img">
				</div>
			</div>
			<div class="hex-bar hex-bar2">
				<div class="hex active" data-num="2">二进制</div>
				<div class="hex" data-num="4">四进制</div>
				<div class="hex" data-num="8">八进制</div>
				<div class="hex" data-num="10">十进制</div>
				<div class="hex" data-num="16">十六进制</div>
				<div class="hex other-hex-select-box">
					<span class="selected-hex">32进制</span>
					<img src="{% static 'images/triangle1.png' %}" class="triangle">
					<div class="other-hex-menu">
						<ul data-hex="hex2ul">
							<script type="text/javascript">
								var liHtml = '';
								for (let i = 3; i <= 36; i++) {liHtml += '<li>'+i+'进制</li>';}
								document.write(liHtml);
							</script>
						</ul>
					</div>
				</div>
			</div>
			<div class="hex-input-box">
				<input type="text" class="hex-input input2" id="input2" data-hex="" data-value="">
			</div>
			<div class="instructions-button" id="instructionsButton">
				<span>使用说明</span>
				<img src="{% static 'images/triangle1.png' %}" class="triangle">
			</div>
			<div class="instructions-text" id="instructionsText">
				<div class="title">version 2.0</div>
				<div class="title">&#8226 使用</div>
				<p>1. 支持浮点运算，支持任意进制间的相互转换。</p>
				<p>2. 无需点击转换按钮，输入数值自动转换。</p>
				<p>3. 中间的箭头为转换方向，可以随时调整，方便连续转换。</p>
				<p>4. 针对2，4，8，16，32进制间的相互转换做了优化，不存在出现无限小数的情况。</p>
				<p>5. 历史转换记录查看方法: PC端按F12，点击console(控制台)查看历史记录，刷新页面会清除历史记录。</p>
				<p>6. 本页面支持离线使用：下载本页面之后，即使没有网也可以使用。页面大小仅7kb，请放心下载。</p>
				<div class="title">&#8226 原理&联系</div>
				<p>1. 虽然网站后端采用Python开发，但本模块运算部分完全采用前端语言JavaScript开发，主要是为了练习JavaScript，提高自己的知识水平。</p>
				<p>2. 由于本人js水平有限，难免会有未知bug，造成网页崩溃，操作无反应等情况。如发现bug，请发送转换前数值，转换前后的进制至2914034404@qq.com，将尽快修复。</p>
				<div class="title">&#8226 更新</div>
				<p>2020.2.19：响应时间缩短95.19%，按下数字键后仅7ms便可显示结果，输入的字符与结果同时显示。</p>
				<p></p>
			</div>
		</div>
		<div class="FooterPush"></div>
	</div>
	<div class="Footer">
		<a href="http://www.miitbeian.gov.cn/" class="beian">晋ICP备18012113号-1</a>
	</div>
	<script type="text/javascript" src="{% static 'js/hexconvert.js' %}"></script>
</body>
</html>