{% load staticfiles %}
<!DOCTYPE html>
<html lang="cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name=”keywords” content="在线进制转换">
	<meta name=”description” content="在线进制转换工具 | Emiya的博客">
	<meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="referrer" content="no-referrer" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/hexconvert/hexconvert.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery/1.10.2/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/hexconvert.js' %}"></script>
	<title>在线进制转换</title>
</head>
<body>
	<div class="Wrapper">
		<header>
			<div class="left"><h1 class="header">进制转换</h1></div>
			<div class="right"><a href="/#application" class="header">首页</a></div>
		</header>
		<div class="main-box">
			<div class="hex-bar hex-bar1">
				<div class="hex active">二进制</div>
				<div class="hex">四进制</div>
				<div class="hex">八进制</div>
				<div class="hex">十进制</div>
				<div class="hex">十六进制</div>
				<div class="hex other-hex-select-box">
					<span class="selected-hex">32进制</span>
					<img src="{% static 'images/triangle1.png' %}" class="triangle">
					<div class="other-hex-menu">
						<ul>
							<li>3进制</li>
							<li>4进制</li>
							<li>5进制</li>
							<li>6进制</li>
							<li>7进制</li>
							<li>8进制</li>
							<li>9进制</li>
							<li>10进制</li>
							<li>11进制</li>
							<li>12进制</li>
							<li>13进制</li>
							<li>14进制</li>
							<li>15进制</li>
							<li>16进制</li>
							<li>17进制</li>
							<li>18进制</li>
							<li>19进制</li>
							<li>20进制</li>
							<li>21进制</li>
							<li>22进制</li>
							<li>23进制</li>
							<li>24进制</li>
							<li>25进制</li>
							<li>26进制</li>
							<li>27进制</li>
							<li>28进制</li>
							<li>29进制</li>
							<li>30进制</li>
							<li>31进制</li>
							<li>32进制</li>
							<li>33进制</li>
							<li>34进制</li>
							<li>35进制</li>
							<li>36进制</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="hex-input-box">
				<input type="text" class="hex-input result1" id="result1" onkeyup="value=inputValidation(this)">
			</div>
			<div class="convert-box">
				<div id="bc_square" class="bc-square"></div>
				<div class="convert-button active">
					<img src="{% static 'images/jt1.png' %}" class="convert-img">
				</div>
				<div class="convert-button">
					<img src="{% static 'images/jt2.png' %}" class="convert-img">
				</div>
			</div>
			<div class="hex-bar hex-bar2">
				<div class="hex">二进制</div>
				<div class="hex">四进制</div>
				<div class="hex">八进制</div>
				<div class="hex active">十进制</div>
				<div class="hex">十六进制</div>
				<div class="hex other-hex-select-box">
					<span class="selected-hex">32进制</span>
					<img src="{% static 'images/triangle1.png' %}" class="triangle">
					<div class="other-hex-menu">
						<ul>
							<li>3进制</li>
							<li>4进制</li>
							<li>5进制</li>
							<li>6进制</li>
							<li>7进制</li>
							<li>8进制</li>
							<li>9进制</li>
							<li>10进制</li>
							<li>11进制</li>
							<li>12进制</li>
							<li>13进制</li>
							<li>14进制</li>
							<li>15进制</li>
							<li>16进制</li>
							<li>17进制</li>
							<li>18进制</li>
							<li>19进制</li>
							<li>20进制</li>
							<li>21进制</li>
							<li>22进制</li>
							<li>23进制</li>
							<li>24进制</li>
							<li>25进制</li>
							<li>26进制</li>
							<li>27进制</li>
							<li>28进制</li>
							<li>29进制</li>
							<li>30进制</li>
							<li>31进制</li>
							<li>32进制</li>
							<li>33进制</li>
							<li>34进制</li>
							<li>35进制</li>
							<li>36进制</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="hex-input-box">
				<input type="text" class="hex-input result2" id="result2" onkeyup="value=inputValidation(this)">
			</div>
			<div class="instructions-button" onclick="this.classList.toggle('instructions-button-active')">
				<span>使用说明</span>
				<img src="{% static 'images/triangle1.png' %}" class="triangle">
			</div>
			<div class="instructions-text">
				
			</div>
		</div>
		<div class="FooterPush"></div>
	</div>
	<div class="Footer">
		<a href="http://www.miitbeian.gov.cn/" class="beian">晋ICP备18012113号-1</a>
	</div>
</body>
</html>