{#{% load markdown_deux_tags %}#}
<div class="date ligther-font">
    {% if codeDiary.dateTime != ' ' and codeDiary.dateTime != None %}
        {{ codeDiary.dateTime }}
    {% else %}
        {{ codeDiary.date }}
    {% endif %}
</div>
<div class="content-margin">
    <div class="markdown-body">{{ codeDiary.content }}</div>
    <div class="windowImg">
    {% for imgs in codeDiary.img %}
        {% if codeDiary.imgLenth == 1 %}
            <img src="/media/{{ imgs }}" style="width: 600px;">
        {% else %}
            <img src="/media/{{ imgs }}">
        {% endif %}
    {% endfor %}
    </div>
    <div id="fill_window"></div>
    <ul class="comment_list">
    {% for comment in codeDiary.comment %}
        <li class="comment">
            <span class="nickname">{{ comment.nickname }}</span>
            {% if comment.comment_to != None and comment.comment_to != '' %}
                <span class="windowReply">回复</span>
                <span class="commet_to">{{ comment.comment_to }}</span>
            {% endif %}
            <span class="comment-colon">:</span>
            <span class="comment_content">{{ comment.content }}</span>
            <span class="windowReplyButton"><a href="javascript:void(0)" onclick="clickReplyButton(this)">回复</a></span>
        </li>
    {% endfor %}
    </ul>
    <div class="windowComment" id="windowComment">
        <div class="window-input-field">
            <input id="comment_nike_name" class="move-up" type="text" placeholder="昵称 (选填)">
            <span></span>
        </div>
        <div class="window-input-field">
            <input id="comment_user_email" class="move-up" type="text" placeholder="邮箱 (选填)">
            <span></span>
        </div>
        <div class="window-input-field window-input-comment">
            <input id="comment_comment" class="move-up" type="text" placeholder="发表您的观点">
            <span></span>
        </div>
        <div class="window-comment-hint"></div>
        <div class="window-submit-button">
            <button class="window-bubbly-button" onclick="windowSendComment()">发送</button>
            <script>
                var animateButton = function(e) {
    
                    e.preventDefault;
                    //reset animation
                    e.target.classList.remove('animate');
                    e.target.classList.add('animate');
                    setTimeout(function(){
                        e.target.classList.remove('animate');
                    },700);

                };

                var classname = document.getElementsByClassName("window-bubbly-button");

                for (var i = 0; i < classname.length; i++) {
                    classname[i].addEventListener('click', animateButton, false);
                }
            </script>
        </div>
    </div>
</div>