<h6>{{ codeDiary.date }}</h6>
<p>{{ codeDiary.content }}</p>
<div class="windowImg">
{% for imgs in codeDiary.img %}
    <img src="/media/{{ imgs }}">
{% endfor %}
</div>
<ul>
{% for comment in codeDiary.comment %}
    <li>
        <div id="nickname">
            {{ comment.nickname }}
            {% if comment.comment_to != None %}
                <span class="reply">回复</span>
                {{ comment.comment_to }}
            {% endif %}
        </div>
        <div id="commentContent">
            {{ comment.content }}
        </div>
    </li>
{% endfor %}
</ul>