{% for codeDiary in codeDiary_info %}
    <li>
        <div class="aCopy" id="codeDiaryCopyone{{ codeDiary.text_id }}"></div>
        <a class="content" id="codeDiary{{ codeDiary.text_id }}" href="#codeDiary?text_id={{ codeDiary.text_id }}">
            <div class="brief-content">{{ codeDiary.content }}
                {% if codeDiary.img_num != 0 %}
                    [图片]
                {% endif %}
                {% if codeDiary.is_brief == 'true' %}
                    <span class="look-more">[查看更多]</span>
                {% endif %}
            </div>
        </a>
    </li>
{% endfor %}