{% for codeDiary in codeDiary_info %}
    <li class="unchecked">
        <div class="aCopy" id="codeDiaryCopyone{{ codeDiary.text_id }}"></div>
        <a class="content openContent" id="codeDiary{{ codeDiary.text_id }}" href="#codeDiary?text_id={{ codeDiary.text_id }}">
            <div class="brief_date ligther-font">
                {{ codeDiary.date }}
                {% for tag in codeDiary.tag %}
                    <span class="codeDiaryTag">{{ tag }}</span>
                {% endfor %}
            </div>
            <div>
                <div class="brief-content">
                    {% if codeDiary.title != None %}
                        <div class="bold title">{{ codeDiary.title }}</div>
                    {% endif %}
                    <div class="brief-content-text">
                        {{ codeDiary.content }}
                        {% if codeDiary.is_brief == 'true' %}
                            <span class="look-more">[查看更多]</span>
                        {% endif %}
                    </div>
                </div>
                <div class="comment">
                    <img src="/static/images/comment.png" class="comment-icon">
                    <div class="comment-num">{{ codeDiary.comment_num }}</div>
                </div>
            </div>
        </a>
    </li>
{% endfor %}
<div class="loadStatus">{{ loadStatus }}</div>
{% if showBeian == 1 %}
    <div class="mobile_beian"><a href="http://www.miitbeian.gov.cn/" target="_blank" class="beian">晋ICP备18012113号-1</a></div>
{% endif %}