{% for application in application_info %}
    <div class="app">
    	<a href="{{ application.app_url }}">
    		<div class="bg-bottom-box"></div>
    		<div class="img-box">
    			<img src="/media/{{ application.app_img }}">
    		</div>
    		<div class="bottom-box">
    			<div class="app-name">{{ application.app_name }}</div>
    		</div>
        </a>
    </div>
{% endfor %}
<div class="app" style="opacity: 0">
    <a href="#application">
        <div class="bg-bottom-box"></div>
        <div class="img-box"></div>
        <div class="bottom-box"></div>
    </a>
</div>
<div class="app" style="opacity: 0">
    <a href="#application">
        <div class="bg-bottom-box"></div>
        <div class="img-box"></div>
        <div class="bottom-box"></div>
    </a>
</div>