{% for diary in diary_info %}
    <li>
        <div class="aCopy" id="diaryCopyone{{ diary.text_id }}"></div>
        <a class="content" id="diary{{ diary.text_id }}" href="#diary?text_id={{ diary.text_id }}">
            <div class="brief_date">{{ diary.date_weather }}</div>
            <div class="brief-content">
                {% if diary.title != None %}
                    <span class="bold title">{{ diary.title }}</span><br>
                {% endif %}
                {{ diary.content }}
                {% if diary.img_num != 0 %}
                    [图片]
                {% endif %}
                {% if diary.is_brief == 'true' %}
                    <span class="look-more">[查看更多]</span>
                {% endif %}
            </div>
        </a>
    </li>
{% endfor %}
<div class="loadStatus">{{ loadStatus }}</div>