<h6>{{ diary.date }}</h6>
<div class="markdown-body">{{ diary.content }}</div>
<div class="windowImg">
{% for imgs in diary.img %}
    <img src="/media/{{ imgs }}">
{% endfor %}
</div>
<ul>
{% for comment in diary.comment %}
    <li>
        <div id="nickname">
            {{ comment.nickname }}
            {% if comment.comment_to != None %}
                <span class="reply">回复</span>
                {{ comment.comment_to }}
            {% endif %}
        </div>
        <div id="commentContent">
            {{ comment.content }}
        </div>
    </li>
{% endfor %}
</ul>