{% load staticfiles %}
<!DOCTYPE html>
<html lang="cn">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mobilePage/mobilePage.css' %}">
	<script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
	<script type="text/javascript">
	   $youziku.load("body", "964890101e6740ba87ea0a502555cda0", "jdzhonyuanjian");
	   /*$youziku.load("#id1,.class1,h1", "964890101e6740ba87ea0a502555cda0", "jdzhonyuanjian");*/
	   /*．．．*/
	   $youziku.draw();
	</script>
	<title>Emiya</title>
</head>
<body>
	<div class="avatar">
		<img src="/media/avatar/123.jpg" width="350" height="350"/>
	</div>
	<div class="content">
		<p class="content1">欢迎来到Emiya的博客</p>
		<p class="content2">请在PC端浏览，使用Chrome浏览器浏览效果会更好哦(〃'▽'〃)</p>
	</div>
	<script type="text/javascript">
		PORT = window.location.port;
		MAINURL = 'http://' + document.domain + ":" + PORT + '/';
		function isPC() {
		   var userAgentInfo = navigator.userAgent;
		   var Agents = ["Android", "iPhone",
		      "SymbianOS", "Windows Phone",
		      "iPad", "iPod"];
		   var flag = true;
		   for (var v = 0; v < Agents.length; v++) {
		      if (userAgentInfo.indexOf(Agents[v]) > 0) {
		         flag = false;
		         break;
		      }
		   }
		   return flag;
		}
		if (isPC() == true) {
			window.location.href = MAINURL;
		}
	</script>
</body>
</html>