<!DOCTYPE html>
<html lang="cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<title>免责声明</title>
</head>
<body>
	<p>1.本网站所提供的视频均为网络上公开、合法、免费的视频，视频版权均为视频拍摄者、视频发布者即知乎网用户、知乎网所有。</p>
	<p>2.本网站所提供的视频链接均为知乎网子域名下的原视频链接。</p>
	<p>3.若本网站所提供的视频侵犯了您的合法权益，请联系 2914034404@qq.com 将视频删除。</p>
	<p>4.若本网站所提供的功能侵犯了知乎网的合法权益，请联系 2914034404@qq.com 将此功能下架。</p>
	<a href="http://www.emiya.com.cn/zhihu-video-download/">返回主页</a>
</body>
</html>