{% load staticfiles %}
<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NGA沙雕图</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ngaShadiaoImage/ngaShadiaoImage.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery/1.10.2/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/ngaShadiaoImage.js' %}"></script>
</head>
<body class="ngaShadiaoImage">
    <div class="header">
        <div class="avatar">
            <img src="">
        </div>
    </div>
    <div class="sort-bar">
        <div class="left" onclick="sort()">
            <div class="center-relative time-sort" id="time_sort">
                <div class="sort-text">时间</div>
                <div class="sort-img sort-down">
                    <img class="up-triangle" src="{% static 'images/up_triangle.png' %}">
                    <img class="down-triangle" src="{% static 'images/down_triangle.png' %}">
                </div>
            </div> 
        </div>
        <div class="right"><div class="center-relative">
            <a href="ngaShadiaoImage/notice">公告: <span class="notice">关于本网站的说明</span></a>
        </div></div>
    </div>
	<div id="main">
		<ul class="main-list-opacity-transition" id="main_ul">
            {% for n in ngaShadiaoImageInfo %}
                <li>
                    <div data-href="/content/?content_url={{ n.encodeUrl }}&client_width=" class="main-list-a" onclick='jumpToContent(this)'>
                        <div class="left">
                            <div class="author"><div class="center-relative">{{ n.author }}</div></div>
                            <div class="time"><div class="center-relative">{{ n.time }}</div></div>
                        </div>
                        <div class="right">
                            <div class="title">{{ n.title }}</div>
                        </div>
                        <div class="buttom-bar">
                            <div class="img-ico-num center-relative">
                                <div class="img-ico">
                                    <img src="{% static 'images/image_ico.png' %}">
                                </div>
                                <div class="img-num">{{ n.imgNum }}</div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
		</ul>
        <a href="/ngaShadiaoImage/mzsm" class="mzsm">免责声明</a>
        <a href="http://www.miitbeian.gov.cn/" target="_blank" class="beian">晋ICP备18012113号-1</a>
	</div>
</body>
</html>