<!DOCTYPE html><html><head>
<title>账号操作</title>
<meta http-equiv='Content-Type' content='text/html; charset=GBK'/>
<script type='text/javascript'>
var $ = function(x){return document.getElementById(x)}
//var __LS = localStorage
var __NOW = 1565596243
var __API = {
	getAsync : function(name,arg,callback){
		document.getElementById('iff').contentWindow[callback](name,arg,this.get(name,arg))
		},
	get:function(name,arg){//给内页面提供所需的数据 参数和返回值都是字符串
		console.log(name+' : '+arg)
		if(arg)
			eval('var arg = '+arg)//解析json
		switch(name){
			case 'checksum'://计算app验证码
				return ''
				break;
			case 'argSign'://计算app验证码(使用appkey)
				return ''
				break;
			case 'deviceid'://设备id
				return '';
				break;
			case 'appid'://appid
				return '5004';
				break;
			case 'style'://日间/夜间样式
				return 'web';//default默认配色 /dark夜间配色 /web网页配色
				break;
			case 'oauth_openid'://返回之前第三方验证成功后获取的openid
				break;
			case 'oauth_token'://返回之前第三方验证成功后获取的token
				break;
			case 'oauth_from'://返回之前第三方验证的平台名 qq平台使用qq或QQ或1  微博平台使用wb或WB或2  微信平台使用wx或WX或3
				break;
			case 'currentUid'://当前登录的uid
				return 
				break;
			case 'currentToken'://当前登录的token
				break;
			case 'currentSid'://当前登录的sessionid(app无需此项)
				return ''
				break;
			case 'currentUsername'://当前登录的用户名
				return '  '.replace(/^\s+|\s+$/g,'')
				break;
			case 'userAgent'://发送请求使用的userAgent(app如设置了webview的useragent则无需此项)
				return navigator.userAgent;
				break;
			case 'loginSuccess'://登录成功
				var xx=[]
				alertSuccess.i=3
				alertSuccess.txt='登录成功'
				
		if(location.hostname!='bbs.nga.cn')
			xx.push('bbs.nga.cn')
		
		if(location.hostname!='nga.178.com')
			xx.push('nga.178.com')
		
		if(location.hostname!='ngabbs.com')
			xx.push('ngabbs.com')
		
				xx.push(location.hostname)
				for(var i=0;i<xx.length;i++){
					var y = $('fo'+i)
					y.firstChild.name='uid'
					y.firstChild.value=arg.uid
					y.lastChild.name='cid'
					y.lastChild.value=arg.token
					y.action = 'https://'+xx[i]+'/nuke.php?__lib=login&__act=login_set_cookie_quick&__output=9'
					y.submit()
					}
				break
			case 'logoutSuccess'://登出成功
				var xx=[]
				alertSuccess.i=3
				alertSuccess.txt='登出成功'
				
		if(location.hostname!='bbs.nga.cn')
			xx.push('bbs.nga.cn')
		
		if(location.hostname!='nga.178.com')
			xx.push('nga.178.com')
		
		if(location.hostname!='ngabbs.com')
			xx.push('ngabbs.com')
		
				xx.push(location.hostname)
				for(var i=0;i<xx.length;i++){
					var y = $('fo'+i)
					y.firstChild.name='uid'
					y.firstChild.value=arg.uid
					y.lastChild.name='token'
					y.lastChild.value=arg.token
					y.action = 'https://'+xx[i]+'/nuke.php?__lib=login&__act=logout&act=1&nojump=1&__output=9'
					y.submit()
					}
				break
			case 'loginQQ'://第三方登录QQ

				break
			case 'loginWX'://第三方登录微信

				break
			case 'loginWB'://第三方登录微博

				break
			case 'resetPassSuccess'://重置密码完毕

				break
			case 'changePassSuccess'://修改密码完毕

				break
			case 'changePhoneSuccess'://修改手机完毕

				break
			case 'setPhoneSuccess'://绑定手机完毕

				break
			case 'trackid'://设备id imei suuid等(通用   key	value	key	value 
				return '';
				break;
			case 'frameWide'://增加窗口宽度
			case 'frameNarrow':
				var m = document.referrer.match(/^https?:\/\/[^\/]+/)
				window.parent.postMessage(name=='frameWide'?'loginFrameWindowWidth50':'loginFrameWindowWidth25', m[0])
				break
			}
		return ''
		}
  }//
var alertSuccess = function(id){
	var cl = function(){
			if(window.parent===window){
				if(confirm(alertSuccess.txt+' 是否返回首页'))
					setTimeout(function(){window.location.href=location.protocol+'//'+location.host},500)
				}
			else{
				if(confirm(alertSuccess.txt+' 是否刷新页面'))
					setTimeout(function(){window.parent.postMessage('locationReload null null',alertSuccess.origin)},500)
				else
					setTimeout(function(){window.parent.postMessage('closeAccountUi null null',alertSuccess.origin)},500)
				}
			}
	if(alertSuccess.i==3){
		alertSuccess.x = setTimeout(cl,1000)
		}
	alertSuccess.i--
	if(alertSuccess.i==0){
		if(alertSuccess.x)
			clearTimeout(alertSuccess.x)
		cl()
		}
	}//
alertSuccess.i = 0
alertSuccess.origin = document.referrer.match(/https?:\/\/[^\/]+/)
alertSuccess.origin = alertSuccess.origin ? alertSuccess.origin[0] : location.protocol+'://'+location.host



</script>
<script>
var addCss = function(css){
	var h = document.getElementsByTagName('head')[0],s = document.createElement('style');
	s.type = 'text/css';
	if (s.styleSheet){
		h.appendChild(s);
		s.styleSheet.cssText = css;
		}
	else {
		s.appendChild(document.createTextNode(css));
		h.appendChild(s);
		}
	}
;(function(){
if(window.parent==window.self){
	var w = window.innerWidth>50? window.innerWidth : window.screen.width
	if(w>350)
		w=350
	w+='px'
	}
else
	var w = '100%'
addCss('body, #iff {width:'+w+'} \n html {height:100%}')
})();
</script>
<meta name='viewport' content='width=device-width, initial-scale=1'>
</head><body style='margin:0 auto;text-align:center;background:gray'><script type='text/javascript'>
;(function(){
if(window.parent==window.self){
	var sc=''
	}
else{
	var sc="scrolling='no'"
	}
var s =  location.protocol+'//'+location.host+'/nuke/p2.htm'+(''?'':location.search.replace(/(__lib|__act)=[^&]+&?/g,''))
document.write("<iframe id='iff' name='iff' src='"+s+"' "+sc+" frameborder='0' border='0' style='border:0;margin:auto'></iframe>")
setTimeout(function(){
document.body.style.height='100%'
document.getElementById('iff').style.height='99.5%'
},100)
})();
function readystatechange(o,x,y){
if(o.readyState){
	if(readyState != 4 || y)
		return
	}
alertSuccess(x)
}
</script><span style='display:none' id='logincookie'>
<form id='fo0' method='post' target='if0'><input name='uid'/><input name='cid'/></form><iframe src='about:blank' id='if0' name='if0' onreadystatechange='readystatechange(this,0)' onload='readystatechange(this,0,1)'></iframe>
<form id='fo1' method='post' target='if1'><input name='uid'/><input name='cid'/></form><iframe src='about:blank' id='if1' name='if1' onreadystatechange='readystatechange(this,1)' onload='readystatechange(this,1,1)'></iframe>
<form id='fo2' method='post' target='if2'><input name='uid'/><input name='cid'/></form><iframe src='about:blank' id='if2' name='if2' onreadystatechange='readystatechange(this,2)' onload='readystatechange(this,2,1)'></iframe>
<form id='fo3' method='post' target='if3'><input name='uid'/><input name='cid'/></form><iframe src='about:blank' id='if3' name='if3' onreadystatechange='readystatechange(this,2)' onload='readystatechange(this,2,1)'></iframe>
</span></body></html>