{% load staticfiles %}
<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="{% static 'css/ngaShadiaoImage/ngaShadiaoImage.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery/1.10.2/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/ngaShadiaoImage.js' %}"></script>
    <title>NGA沙雕图控制台</title>
</head>
<body>
	<div class="button button1" onclick="control(this)"><div>start</div></div>
	<div class="button" onclick="control(this)"><div>stop</div></div>
	<div class="button" onclick="control(this)"><div>restart</div></div>
	<div class="display"></div>
</body>
</html>