{% load staticfiles %}
<!DOCTYPE html>
<html lang="cn">
<head>
	<meta charset="utf-8">
	<title>Emiya的博客</title>
	<link rel="icon" type="image/png" href="/media/{{ website_icon }}">
	<script type="text/javascript" src="{% static 'js/jquery/1.10.2/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/outputConsole.js' %}"></script>
	<script type="text/javascript">
		function isPC() {
		    var userAgentInfo = navigator.userAgent;
		    var Agents = ["Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"];
		    var flag = true;
		    for (var v = 0; v < Agents.length; v++) {
		        if (userAgentInfo.indexOf(Agents[v]) > 0) {
		         	return false;
		      	}
		    }
		   	return true;
		}
		alert(navigator.userAgent)
		if(window.location.host != '127.0.0.1:8000'){
			if (isPC() == false) {
				window.location.href = 'http://' + window.location.host + '/mobile';
			}
			else{
				outputConsole();
			}
		}
		
	</script>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name=”keywords” content="Emiya的博客">
	<meta name=”description” content="Emiya的博客">
	<meta name="baidu-site-verification" content="hfgEjvRlwS" />
	<meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="referrer" content="no-referrer" />
	<link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/left/left.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/right/signature.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/matter0.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/matter1.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/matter2.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/matter3.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/window.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/markdown.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/weather-icon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/right/weather.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/window-bubbly-button.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/suggestion-bubbly-button.css' %}">
    <script type="text/javascript" src="{% static 'js/marked/marked.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.actual.js' %}"></script>

</head>
<body>
	<div class="left" id="left">
		<div class="Wrapper">
			<div class="left-avatar">
				<div class="avatar-out">
					<img src="/media/{{ avatar }}"/>
				</div>
			</div>
			<div class="left-menu" id="left-menu">
				<ul>
		            <li id="li-0">
						<a href="#codeDiary" id="codeDiary">开发笔记</a>
		            </li>
		            <li id="li-1">
						<a href="#diary" id="diary">我的动态</a>
		            </li>
		            <li id="li-2">
		            	<a href="#application" id="application">我的应用</a>
		            </li>
		            <li id="li-3">
						<a href="#personalCenter" id="personalCenter">关于我<span class="line-through">们</span></a>
		            </li>
		        </ul>
			</div>
			<div class="FooterPush"></div>
		</div>
		<div class="Footer"><a href="http://www.miitbeian.gov.cn/" target="_blank" class="beian">晋ICP备18012113号-1</a></div>
	</div>
	<object data="/static/images/list1.svg" type="image/svg+xml" class="left-list-icon list-icon-1"></object>
	<div class="left-list-icon-out list-icon-1" id="left_list_button"></div>
	<div class="list-shape list-icon-2">
		<object data="/static/images/list3.svg" type="image/svg+xml" class="float-left-list-icon"></object>
	</div>
	<div class="float-left-list-icon-out list-icon-2" id="floatLeftListIcon"></div>
    <div class="middle" id="middle">
        <div id="matter0" class="matter0 codeDiary" style="display: none;">
            <ul></ul>
        </div>
        <div id="matter1" class="matter1 diary" style="display: none;">
            <ul></ul>
        </div>
		<div id="matter2" class="matter2 application" style="display: none"></div>
        <div id="matter3" class="matter3" style="display: none">
        	<div class="pct-nav">
	        	<nav class="personalCenter-menu">
	        		<ul>
	        			<li id="hli-0" data-toggle="collapse">
	        				<a href="javascript:void(0)">网站简介</a>
	        			</li>
	        			<li id="hli-1" data-toggle="collapse">
	        				<a href="javascript:void(0)">开发人员</a>
	        			</li>
	        			<li id="hli-2" data-toggle="collapse">
	        				<a href="javascript:void(0)">联系我们</a>
	        			</li>
	        			<li id="hli-3" data-toggle="collapse">
	        				<a href="javascript:void(0)">反馈建议</a>
	        			</li>
	        		</ul>
	        	</nav>
				<span class="target"></span>
				<span class="target"></span>
			</div>
	    	<div id="matter3_0" class="matter3-0" style="display: block;">
	    		<div class="title title_1">初衷</div>
	    		<div class="content">
	    			做这个网站的目的呢，一是想提高自己的知识水平，自己给自己提一些需求并努力完成，也为以后的工作打个基础。二是记录自己对各种框架，优秀代码的学习体会，还有各种踩过的坑以及爬坑办法。以后会在在课余时间开发一些小东西放到“我的应用”里，不过这些都是后话了，目前最重要的是扎实基础。不忘初心，脚踏实地。
	    		</div>
	    		<div class="title">历程</div>
	    		<div class="content">
	    			八月份产生了做一个属于我自己的网站的想法，九月份开始先构思、设计、定位，框架选用的是Django，语言当然是Python，但是我从来没有过搭建服务器的经验，前端也是什么都不会，所以只能是一边学前端，一边写后台，做了大概一个多星期，动态功能勉强能用的时候就开始考虑搭建服务器，试过IIS8，弄了三天放弃了，换Apache，也是各种bug，好在一步一步都解决了，终于在中秋节凌晨两点半搞定了服务器，可以安心写代码了。
	    		</div>
	    		<div class="content" style="padding-top: 0;">
	    			之后又碰到的一个坑就是css，当时心很浮躁，想着十月底要做完，学前端也是马马虎虎，css和js一直学得不太好，导致网站兼容性很差，觉得jQuery简单就用jQuery代替js，但性能也就差下了。十月份把后端的东西基本都做完了，也意识到了前端方面的缺陷，十一月开始使用js并开始优化css，看着网站一步步好起来真的很开心，这个月打算实现一些细节的功能，并添加一个爬虫项目到我的应用里。一切都在慢慢变好。がんばって！
	    		</div>
	    		<div class="content" style="float: right; padding-top: 0;">——2018年12月7日 下午5点39分</div>
	    		<div class="title title_3">感谢</div>
	    		<div class="content">
	    			大一时有幸成为了云顶书院的一份子，在云顶书院的半年多时间里，不仅学到了编程技术，还懂得了怎样去自学技术。做这个网站，当我碰到不懂的技术时，想到的不是“我不会做这块内容，去找个会的来帮我做吧”，而是“我可以学这个技术”。可以说，没有云顶书院对我的教导，就没有我现在的技术和能力，我现在说不定还局限于书本上的内容和习题，以考试及格为目标，这个网站也不会存在。后来，八月份因为发展方向的原因，我选择了退出云顶书院。但是，我要对得起云顶对我的培养，我会变得比在云顶书院时更优秀。
	    			<div style="text-indent: 2em">最后，衷心感谢Python学习中刘寅新学长对我的帮助ღ( ´･ᴗ･` )比心~</div>
	    		</div>
	    		<div class="content-4">
		    		<div class="title">联系</div>
		    		<div class="content" style="text-indent: 0em">
		    			邮箱：emiya@emiya.com.cn
		    			<div style="text-indent: 3em">2914034404@qq.com</div>
		    			微信：EmiyaShirou5
		    			</br>
		    			github：<a href="https://github.com/Emiyaaaaa">Emiyaaaaa</a>
		    			</br>
		    			即刻：<a href="https://web.okjike.com/user/5a4ddfa6-298a-42b8-b477-8a866b236460">UC震惊部</a>
		    		</div>
	    		</div>
	    		<div style="height: 100px"></div>
       		</div>
        	<div id="matter3_1" class="matter3-1" style="display: none;">
        		<ul class="developer-ul">
        			<li class="developer">设计: Emiya</li>
        			<li class="developer">HTML5/CSS: Emiya</li>
        			<li class="developer">JavaScript: Emiya</li>
        			<li class="developer">后端: Emiya</li>
        			<li class="developer">数据库: Emiya</li>
        			<li class="developer">运维: Emiya</li>
        			<!-- <li class="developer">特别鸣谢: 云顶书院</li> -->
        		</ul>
        	</div>
        	<div id="matter3_2" class="matter3-2" style="display: none;">
        		<div class="content" style="padding-top: 70px;">邮箱：<a href="mailto:emiya@emiya.com.cn">emiya@emiya.com.cn</a></div>
        		<div class="content" style="text-indent: 3em"><a href="mailto:2914034404@qq.com">2914034404@qq.com</a></div>
        		<div class="content">QQ：2914034404</div>
        		<div class="content">微信：EmiyaShirou5</div>
        		<div class="content"><a href="https://web.okjike.com/user/5a4ddfa6-298a-42b8-b477-8a866b236460" target="_blank">即刻：UC震惊部</a></div>
        		<div class="content"><a href="https://weibo.com/u/5538040807" target="_blank">微博：Em1ya</a></div>
        		<div class="donation content" style="padding-top: 30px;">
        			赞助：
					<div class="container1">
						<a href="/media/donation/zfb.png">
							<img src="/media/donation/g11.jpg" class="g1">
						</a>
					</div>
					<div class="container2">
						<a href="/media/donation/wx.jpg">
							<img src="/media/donation/g22.png" class="g2">
						</a>
					</div>
				</div>
        			
       		</div>
        	<div id="matter3_3" class="matter3-3" style="display: none;">
        		<div class="suggestion">
			        <div class="suggestion-input-field">
			            <input id="suggestion_nike_name" type="text" placeholder="昵称 (选填)">
			            <span></span>
			        </div>
			        <div class="suggestion-input-field suggestion-user-email">
			            <input id="suggestion_user_email" type="text" placeholder="邮箱 (必填)">
			            <span></span>
			        </div>
			        <div class="suggestion-input-field suggestion_content">
			            <input id="suggestion_content" type="text" placeholder="你可以在这里畅所欲言">
			            <span></span>
			        </div>
			        <div class="suggestion-comment-hint"></div>
			        <div class="suggestion-submit-button">
			            <button class="suggestion-bubbly-button" onclick="matter33SendMessage()">发送</button>
			        </div>
			        <script>
		                var animateButton = function(e) {
		    
		                    e.preventDefault;
		                    //reset animation
		                    e.target.classList.remove('animate');
		                    e.target.classList.add('animate');
		                    setTimeout(function(){
		                        e.target.classList.remove('animate');
		                    },700);

		                };

		                var classname = document.getElementsByClassName("suggestion-bubbly-button");

		                for (var i = 0; i < classname.length; i++) {
		                    classname[i].addEventListener('click', animateButton, false);
		                }
		            </script>
			    </div>
			    <div class="update_log">
			    	<ul></ul>
			    </div>
			    <div class="update_content">
			    	<div style="text-indent: 2em;">这里是网站的更新时间记录，基本每天都会有优化、bug修复及更新，望大家监督。</div>
			    	<div style="text-indent: 2em;">大佬们如果发现一些安全性问题或bug，请发邮件至2914034404@qq.com与我联系，谢谢！</div>
			    	<div class="update_version"></div>
			    </div>
        	</div>
	    </div>
    </div>
    <div class="right">
    	<div class="loading-weather">
    		<div class="loading">加载中...</div>
    	</div>
    	<div class="weather">
    		<div class="now-weather" id="w_matter_0" style="display: inline;">
	    		<div class="weather-info">
		    		<div class="now-tem"></div>
		    		<div class="now-city"></div>
		    		<div class="now-wdp"></div>
		    		<div class="now-aq"></div>
	    		</div>
	    		<div class="weather-mod">
	    			<div class="weather-icon"></div>
	    			<div class="weather-background"></div>
	    		</div>
	    	</div>
	    	<div class="today-weather" id="w_matter_1" style="display: none;">
	    		<div class="weather-info">
		    		<div class="today-tem"></div>
		    		<div class="now-city"></div>
		    		<div class="today-wdp"></div>
		    		<div class="today-wea"></div>
	    		</div>
	    		<div class="weather-mod">
	    			<div class="weather-icon"></div>
	    			<div class="weather-background"></div>
	    		</div>
	    	</div>
	    	<div class="tomorrow-weather" id="w_matter_2" style="display: none;">
	    		<div class="weather-info">
		    		<div class="tomorrow-tem"></div>
		    		<div class="now-city"></div>
		    		<div class="tomorrow-wdp"></div>
		    		<div class="tomorrow-wea"></div>
	    		</div>
	    		<div class="weather-mod">
	    			<div class="weather-icon"></div>
	    			<div class="weather-background"></div>
	    		</div>
	    	</div>
	    	<div class="after-tomorrow-weather" id="w_matter_3" style="display: none;">
	    		<div class="weather-info">
		    		<div class="after-tomorrow-tem"></div>
		    		<div class="now-city"></div>
		    		<div class="after-tomorrow-wdp"></div>
		    		<div class="after-tomorrow-wea"></div>
	    		</div>
	    		<div class="weather-mod">
	    			<div class="weather-icon"></div>
	    			<div class="weather-background"></div>
	    		</div>
	    	</div>
	    	<div class="weather-menu">
	    		<ul>
	    			<li id="wli-0" data-toggle="collapse" class="active">实时</li>
        			<li id="wli-1" data-toggle="collapse">今天</li>
        			<li id="wli-2" data-toggle="collapse">明天</li>
        			<li id="wli-3" data-toggle="collapse">后天</li>
	    		</ul>
	    	</div>
    	</div>
    	<div class="signature" style="display: inline;">
    		<span class="qm">签 名</span>
    		<div class="signature-text">
    			<div class="signature-text1"><span style="opacity:0;">{{ signature }}</span></div>
    			<div class="signature-text2">{{ signature }}</div>
    		</div>
    	</div>
    </div>
    <div id="windowBackground" class="windowBackground"></div>
    <div id='window' class="openWindow"></div>
    <script type="text/javascript">
		URLHREF = window.location.href;
		MAINURL = URLHREF.split('#')[0];
		// window.location.href = MAINURL + '404';
		mobile_screen_width = 768;

		URLHASH = URLHREF.split('?')[0].split('/')[3];
		if (URLHASH == '' || URLHASH == '#'){
			URLHASH = '#codeDiary';
		}
		try{
			LINUM = $(URLHASH).parent().attr('id').split('-')[1];
		}
		catch(err){
			LINUM = 0;
			window.location.href = MAINURL + '404';
		}
		clientWidth = document.documentElement.clientWidth;
		if (clientWidth > 1200){
			var textWidth = Math.round((Math.round(clientWidth*0.55)-19)*0.8-20);
		}
		else if(clientWidth > 768){
			var textWidth = Math.round((Math.round(clientWidth*0.85)-19)*0.8-20);
		}
		else{
			var textWidth = Math.round(clientWidth*0.9-20);
		}
		function isMobileScreen(){
			if (clientWidth <= mobile_screen_width){
				return true;
			}
			else{
				return false;
			}
		}

		var letter_spacing = 3;
		var font_size = 15;
		TEXTMAXLENGTH = Math.floor((textWidth+letter_spacing)/(letter_spacing+font_size));
		// TEXMAXLENGTH = 35
		matterScrollTop = {};
		nowMatter = 'matter'+LINUM;

		//左侧列表left值初始化
		if (isMobileScreen()) {
			var leftListWidth_ = $('#left').actual('width');
			document.getElementById('left').style.left = - leftListWidth_ + 'px';
		}
		
    </script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/matter3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/window.js' %}"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script type="text/javascript" src="{% static 'js/weather.js' %}"></script>
</body>
</html>