{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>Emiya的博客</title>
	<link rel="shortcut icon" href="/media/{{ website_icon }}"/> 
	<link rel="bookmark" href="/media/{{ website_icon }}" type="image/x-icon"/>
	<script type="text/javascript">
		function isPC() {
		    var userAgentInfo = navigator.userAgent;
		    var Agents = ["Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"];
		    var flag = true;
		    for (var v = 0; v < Agents.length; v++) {
		        if (userAgentInfo.indexOf(Agents[v]) > 0) {
		         	return false;
		      	}
		    }
		   	return true;
		}
		if (navigator.userAgent.indexOf('NET') != -1 && navigator.userAgent.indexOf("rv") != -1) {
			alert('求求你换个浏览器吧！放弃ie这种反人类浏览器吧！');
			alert('拜托了！！！orz');
		}
	</script>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="keywords" content="Emiya的博客">
	<meta name="description" itemprop="description" content="Emiya的博客">
	<meta name="baidu-site-verification" content="hfgEjvRlwS" />
	<meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/left/left.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/right/signature.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/right/weather.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/right/fish.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/right/time-progress-bar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/matter0.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/matter1.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/matter2.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/matter3.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/window.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/markdown.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/right/weather-icon.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/window-bubbly-button.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/suggestion-bubbly-button.css' %}">
	<!-- <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script> -->
	<script type="text/javascript" src="{% static 'js/jquery/1.10.2/jquery.min.js' %}"></script>
	<!-- <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.actual.js' %}"></script>
</head>
<body>
	<div class="left" id="left">
		<div class="Wrapper">
			<div class="left-avatar">
				<div class="avatar-out">
					<img src="/media/{{ avatar }}"/>
				</div>
			</div>
			<nav class="left-menu" id="left-menu">
				<ul>
		            <li id="li-0">
						<a href="#codeDiary" id="codeDiary">
							<div class="center-relative">开发笔记</div>
						</a>
		            </li>
		            <li id="li-1">
						<a href="#diary" id="diary">
							<div class="center-relative">我的动态</div>
						</a>
		            </li>
		            <li id="li-2">
		            	<a href="#application" id="application">
		            		<div class="center-relative">我的应用</div>
		            	</a>
		            </li>
		            <li id="li-3">
						<a href="#personalCenter" id="personalCenter">
							<div class="center-relative">关于我<span class="line-through">们</span></div>
						</a>
		            </li>
		        </ul>
			</nav>
			<div class="FooterPush"></div>
		</div>
		<footer>
			<div class="Footer beian-left-footer"><a href="http://www.miitbeian.gov.cn/" target="_blank" class="beian">晋ICP备18012113号-1</a></div>
			<div class="Footer left-version">version: 2.0</div>
		</footer>
	</div>
	<object data="/static/images/list1.svg" type="image/svg+xml" class="left-list-icon list-icon-1"></object>
	<div class="left-list-icon-out list-icon-1" id="left_list_button"></div>
	<div style="clear: both;"></div>
	<div class="list-shape list-icon-2">
		<object data="/static/images/list3.svg" type="image/svg+xml" class="float-left-list-icon"></object>
	</div>
	<div class="float-left-list-icon-out list-icon-2" id="floatLeftListIcon"></div>
    <div class="middle" id="middle">
        <div id="matter0" class="matter0 codeDiary" style="display: none;">
            <ul></ul>
        </div>
        <div id="matter1" class="matter1 diary" style="display: none;">
            <ul></ul>
        </div>
		<div id="matter2" class="matter2 application" style="display: none"></div>
        <div id="matter3" class="matter3" style="display: none">
        	<div class="pct-nav">
	        	<nav class="personalCenter-menu">
	        		<ul>
	        			<li id="hli-0" data-toggle="collapse">
	        				<a href="javascript:void(0)">网站简介</a>
	        			</li>
	        			<li id="hli-1" data-toggle="collapse">
	        				<a href="javascript:void(0)">开发人员</a>
	        			</li>
	        			<li id="hli-2" data-toggle="collapse">
	        				<a href="javascript:void(0)">联系我们</a>
	        			</li>
	        			<li id="hli-3" data-toggle="collapse">
	        				<a href="javascript:void(0)">反馈建议</a>
	        			</li>
	        		</ul>
	        	</nav>
				<span class="target"></span>
				<span class="target"></span>
			</div>
	    	<div id="matter3_0" class="matter3-0" style="display: block;">
	    		<div class="title title_1">初衷</div>
	    		<div class="content">
	    			做这个网站的目的呢，一是想提高自己的知识水平，自己给自己提一些需求并努力完成，也为以后的工作打个基础。二是记录自己对各种框架，优秀代码的学习体会，还有各种踩过的坑以及爬坑办法。以后会在在课余时间开发一些小东西放到“我的应用”里，不过这些都是后话了，目前最重要的是扎实基础。不忘初心，脚踏实地。
	    		</div>
	    		<div class="title">历程</div>
	    		<div class="content">
	    			八月份产生了做一个属于我自己的网站的想法，九月份开始先构思、设计、定位，框架选用的是Django，语言当然是Python，但是我从来没有过搭建服务器的经验，前端也是什么都不会，所以只能是一边学前端，一边写后台，做了大概一个多星期，动态功能勉强能用的时候就开始考虑搭建服务器，试过IIS8，弄了三天放弃了，换Apache，也是各种bug，好在一步一步都解决了，终于在中秋节凌晨两点半搞定了服务器，可以安心写代码了。
	    		</div>
	    		<div class="content" style="padding-top: 0;">
	    			之后又碰到的一个坑就是css，当时心很浮躁，想着十月底要做完，学前端也是马马虎虎，css和js一直学得不太好，导致网站兼容性很差，觉得jQuery简单就用jQuery代替js，但性能也就差下了。十月份把后端的东西基本都做完了，也意识到了前端方面的缺陷，十一月开始使用js并开始优化css，看着网站一步步好起来真的很开心，这个月打算实现一些细节的功能，并添加一个爬虫项目到我的应用里。一切都在慢慢变好。がんばって！
	    		</div>
	    		<div class="content" style="float: right; padding-top: 0;">——2018年12月7日 下午5点39分</div>
	    		<div class="title title_3">感谢</div>
	    		<div class="content">
	    			大一时有幸成为了云顶书院的一份子，在云顶书院的半年多时间里，不仅学到了编程技术，还懂得了怎样去自学技术。做这个网站，当我碰到不懂的技术时，想到的不是“我不会做这块内容，去找个会的来帮我做吧”，而是“我可以学这个技术”。可以说，没有云顶书院对我的教导，就没有我现在的技术和能力，我现在说不定还局限于书本上的内容和习题，以考试及格为目标，这个网站也不会存在。后来，八月份因为发展方向的原因，我选择了退出云顶书院。但是，我要对得起云顶对我的培养，我会变得比在云顶书院时更优秀。
	    			<div style="text-indent: 2em">最后，衷心感谢Python学习中刘寅新学长对我的帮助ღ( ´･ᴗ･` )比心~</div>
	    		</div>
	    		<div class="content-4">
		    		<div class="title">联系</div>
		    		<div class="content" style="text-indent: 0em">
		    			邮箱：emiya@emiya.com.cn
		    			<div style="text-indent: 3em">2914034404@qq.com</div>
		    			微信：EmiyaShirou5
		    			<br>
		    			github：<a href="https://github.com/Emiyaaaaa">Emiyaaaaa</a>
		    			<br>
		    			即刻：<a href="{% static 'images/jike.jpg' %}">UC震惊部</a>
		    			<br>
		    			<br>
						关于Bug：由于没有在非WebKit内核的浏览器做过多测试，在这些浏览器上可能存在css或js不兼容导致的Bug，另外会尽快优化并解决卡顿问题，发现Bug请联系qq:2914034404或发邮件给我，非常感谢！
		    		</div>
	    		</div>
	    		<div style="height: 80px"></div>
       		</div>
        	<div id="matter3_1" class="matter3-1" style="display: none;">
        		<ul class="developer-ul">
        			<li class="developer">设计: Emiya</li>
        			<li class="developer">HTML5/CSS: Emiya</li>
        			<li class="developer">JavaScript: Emiya</li>
        			<li class="developer">后端: Emiya</li>
        			<li class="developer">数据库: Emiya</li>
        			<li class="developer">运维: Emiya</li>
        			<li class="developer">特别鸣谢: 云顶书院</li>
        		</ul>
        	</div>
        	<div id="matter3_2" class="matter3-2" style="display: none;">
        		<div class="content" style="padding-top: 70px;">邮箱：<a href="mailto:emiya@emiya.com.cn">emiya@emiya.com.cn</a></div>
        		<div class="content" style="text-indent: 3em"><a href="mailto:2914034404@qq.com">2914034404@qq.com</a></div>
        		<div class="content">QQ：2914034404</div>
        		<div class="content">微信：EmiyaShirou5</div>
        		<div class="content"><a href="https://web.okjike.com/user/5a4ddfa6-298a-42b8-b477-8a866b236460" target="_blank">即刻：UC震惊部</a></div>
        		<div class="content"><a href="https://weibo.com/u/5538040807" target="_blank">微博：Em1ya</a></div>
        		<div class="donation content" style="padding-top: 30px;">
        			赞助：
					<a href="/media/donation/zfb.jpg" class="container1">
						<img src="/media/donation/zfb.png" class="d1">
						<img src="/media/donation/zfb1.png" class="d2">
					</a>
					<a href="/media/donation/wx.jpg" class="container2">
						<img src="/media/donation/wx.png" class="d1">
						<img src="/media/donation/wx1.png" class="d2">
					</a>
				</div>
        			
       		</div>
        	<div id="matter3_3" class="matter3-3" style="display: none;">
        		<div class="suggestion">
			        <div class="suggestion-input-field">
			            <input id="suggestion_nike_name" type="text" placeholder="昵称 (选填)">
			            <span></span>
			        </div>
			        <div class="suggestion-input-field suggestion-user-email">
			            <input id="suggestion_user_email" type="text" placeholder="邮箱 (必填)">
			            <span></span>
			        </div>
			        <div class="suggestion-input-field suggestion_content">
			            <input id="suggestion_content" type="text" placeholder="你可以在这里畅所欲言">
			            <span></span>
			        </div>
			        <div class="suggestion-comment-hint"></div>
			        <div class="suggestion-submit-button">
			            <button class="suggestion-bubbly-button" onclick="matter33SendMessage()">发送</button>
			        </div>
			        <script>
		                var animateButton = function(e) {
		                    e.preventDefault;
		                    //reset animation
		                    e.target.classList.remove('animate');
		                    e.target.classList.add('animate');
		                    setTimeout(function(){
		                        e.target.classList.remove('animate');
		                    },700);
		                };
		                var classname = document.getElementsByClassName("suggestion-bubbly-button");
		                for (var i = 0; i < classname.length; i++) {
		                    classname[i].addEventListener('click', animateButton, false);
		                }
		            </script>
			    </div>
			    <div class="update_log">
			    	<ul></ul>
			    </div>
			    <div class="update_content">
			    	<div style="text-indent: 2em;">这里是网站的更新时间记录，基本每天都会有优化、bug修复及更新，望大家监督。</div>
			    	<div style="text-indent: 2em;">大佬们如果发现一些安全性问题或bug，请发邮件至2914034404@qq.com与我联系，谢谢！</div>
			    	<div class="update_version">(版本: 2.0 更新数: <span class="update_num"></span>)</div>
			    </div>
        	</div>
	    </div>
    </div>
    <aside class="right">
    	<div class="loading-weather">
    		<div class="loading">加载中...</div>
    	</div>
    	<div class="weather" id="weather">
    		<!-- <iframe src="http://www.ip138.com/iplookup.asp?ip=1.70.245.120" id="areaIframe1"></iframe> -->
    		<!-- <iframe src="http://www.ip138.com/iplookup.asp"></iframe> -->
    		<div class="now-weather" id="w_matter_0" style="display: inline;">
	    		<div class="weather-info">
		    		<div class="now-tem"></div>
		    		<div class="now-city"></div>
		    		<div class="now-wdp"></div>
		    		<div class="now-aq"></div>
	    		</div>
	    		<div class="weather-mod">
	    			<div class="weather-icon"></div>
	    			<div class="weather-background"></div>
	    		</div>
	    	</div>
	    	<div class="day1-weather" id="w_matter_1" style="display: none;">
	    		<div class="weather-info">
		    		<div class="day1-tem"></div>
		    		<div class="day1-city"></div>
		    		<div class="day1-wdp"></div>
		    		<div class="day1-wea"></div>
	    		</div>
	    		<div class="weather-mod">
	    			<div class="weather-icon"></div>
	    			<div class="weather-background"></div>
	    		</div>
	    	</div>
	    	<div class="day2-weather" id="w_matter_2" style="display: none;">
	    		<div class="weather-info">
		    		<div class="day2-tem"></div>
		    		<div class="day2-city"></div>
		    		<div class="day2-wdp"></div>
		    		<div class="day2-wea"></div>
	    		</div>
	    		<div class="weather-mod">
	    			<div class="weather-icon"></div>
	    			<div class="weather-background"></div>
	    		</div>
	    	</div>
	    	<div class="day3-weather" id="w_matter_3" style="display: none;">
	    		<div class="weather-info">
		    		<div class="day3-tem"></div>
		    		<div class="day3-city"></div>
		    		<div class="day3-wdp"></div>
		    		<div class="day3-wea"></div>
	    		</div>
	    		<div class="weather-mod">
	    			<div class="weather-icon"></div>
	    			<div class="weather-background"></div>
	    		</div>
	    	</div>
	    	<div class="weather-menu">
	    		<ul>
	    			<li id="wli-0" class="active"><div class="wli-txt center-relative">实时</div></li>
        			<li id="wli-1"><div class="center-relative">今天</div></li>
        			<li id="wli-2"><div class="center-relative">明天</div></li>
        			<li id="wli-3"><div class="center-relative">后天</div></li>
	    		</ul>
	    	</div>
    	</div>
    	<div class="signature" style="display: inline;">
    		<span class="qm">签 名</span>
    		<div class="signature-text">
    			<div class="signature-text1"><span style="opacity:0;">{{ signature }}</span></div>
    			<div class="signature-text2">{{ signature }}</div>
    		</div>
    	</div>
    	<div class="time-progress-bar">
    		<div class="tit">您的<span class="now-year"></span>使用进度</div>
    		<div class="my-progress-bar-bg"></div>
    		<div class="my-progress-bar-cover"></div>
    		<div class="my-progress-bar-txt"></div>
    	</div>
    	<!-- <div class="right-fish">
	    	<div class="right-fish-txt">Emiya养的鱼(可投喂哦~)</div>
	    	<object type="application/x-shockwave-flash" style="outline:none;" class="right-fish-flash" data="https://cdn.abowman.com/widgets/fish/fish.swf?up_fishColor4=62EA49&up_fishColor9=F45540&up_fishColor6=F45540&up_fishColor5=FB9741&up_fishColor10=F45540&up_foodColor=41A53D&up_fishColor3=81D0CE&up_fishColor1=4097F4&up_fishColor8=F45540&up_fishColor2=E7DC33&up_numFish=6&up_fishName=Fish&up_fishColor7=F45540&up_backgroundImage=http://&up_backgroundColor=F0F7FF&" width="300" height="200">
	    		<param name="movie" value="https://cdn.abowman.com/widgets/fish/fish.swf?up_fishColor4=62EA49&up_fishColor9=F45540&up_fishColor6=F45540&up_fishColor5=FB9741&up_fishColor10=F45540&up_foodColor=41A53D&up_fishColor3=81D0CE&up_fishColor1=4097F4&up_fishColor8=F45540&up_fishColor2=E7DC33&up_numFish=6&up_fishName=Fish&up_fishColor7=F45540&up_backgroundImage=http://&up_backgroundColor=F0F7FF&"/>
	    		<param name="AllowScriptAccess" value="always"/>
	    		<param name="wmode" value="opaque"/>
	    		<param name="scale" value="noscale"/>
	    		<param name="salign" value="tl"/>
	    	</object>
    	</div> -->
    </aside>
    <div id="windowBackground" class="windowBackground"></div>
    <div id='window' class="openWindow window"></div>
    <script type="text/javascript">
		URLHREF = window.location.href;
		MAINURL = URLHREF.split('#')[0];
		mobile_screen_width = 768;

		URLHASH = URLHREF.split('?')[0].split('/')[3];
		if (URLHASH == '' || URLHASH == '#'){
			URLHASH = '#codeDiary';
		}
		try{
			LINUM = $(URLHASH).parent().attr('id').split('-')[1];
		}
		catch(err){
			LINUM = 0;
			window.location.href = MAINURL + '404';
		}
		clientWidth = document.documentElement.clientWidth;
		if (clientWidth > 1250){
			var textWidth = Math.round((Math.round(clientWidth*0.55)-19)*0.8-20);
		}
		else if (clientWidth > 768){
			var textWidth = Math.round((Math.round(clientWidth*0.85)-19)*0.8-20);
		}
		else{
			var textWidth = Math.round(clientWidth*0.9-20);
		}
		function isMobileScreen(){
			if (clientWidth <= mobile_screen_width){
				return true;
			}
			else{
				return false;
			}
		}

		var letter_spacing = 1;
		var font_size = 15;
		TEXTMAXLENGTH = Math.floor((textWidth+letter_spacing)/(letter_spacing+font_size));
		// TEXMAXLENGTH = 35
		matterScrollTop = {};
		nowMatter = 'matter'+LINUM;

		//左侧列表left值初始化
		if (isMobileScreen()) {
			var leftListWidth_ = $('#left').actual('width');
			document.getElementById('left').style.left = - leftListWidth_ + 'px';
		}
		
    </script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/matter3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/window.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
    <script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script type="text/javascript" src="{% static 'js/weather2_0.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/outputConsole.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/console_out.js' %}"></script>
    <script type="text/javascript">
    	if(window.location.host != '127.0.0.1:8000' && isPC()){
    		if (navigator.userAgent.indexOf('Edge') > -1) {
    			outputConsole1();
    		}
    		else{
    			outputConsole2();
				outputConsole3();
    		}
		}
    </script>
</body>
</html>