{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<title>Emiya</title>
	<link rel="icon" type="image/png" href="{% static 'websiteIcon/website_icon.jpg'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/flashy.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/effect.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/left/left.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/matter0.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/middle/matter1.css' %}">
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
	<script type="text/javascript" src="{% static 'js/jquery.flashy.min.js' %}"></script>
	<script type="text/javascript">
   		$youziku.load("body", "4b25254045ca4c748e0bc0a81fff289d", "Source-Han-Light");
   		$youziku.draw();
    </script>                  
</head>
<body>
	<div class="left">
		<div class="left-avatar">
			<img src="{% static 'avatar/123.jpg'%}" width="150" height="140"/>
		</div>
		<div class="left-menu" id="left-menu">
			<ul>
	            <li id="li-0" data-toggle="collapse">
					<a href="#" class="active">开发笔记</a>
	            </li>
	            <li id="li-1" data-toggle="collapse">
					<a href="#">我的动态</a>
	            </li>
	            <li id="li-2" data-toggle="collapse">
	            	<a href="#">我的应用</a>
	            </li>
	            <li id="li-3" data-toggle="collapse">
					<a href="#">关于我<span class="line-through">们</span></a>
	            </li>
	        </ul>
		</div>
	</div>
    <div class="middle">
        <div id="matter0" class="matter0" style="display: block">
            <ul>
	            <li>
	            	<a href="#">
						<h4></h4>
						<p>尚未开发</p>
	            	</a>
	            </li>
            </ul>
        </div>
        <div id="matter1" class="matter1" style="display: none">
			<ul>
                {% for diary in diary_info %}
                    {% if diary.is_display == 0 %}
                        <li>
                            <a class="window" href="#matter1&{{diary.text_id}}">
                                <h4>{{ diary.date_weather }}</h4>
                                <p>{{ diary.content }}</p>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
		<div id="matter2" class="matter2" style="display: none">
			<ul>
	            <li>
	            	<a href="#">
						<h4></h4>
						<p>尚未开发</p>
	            	</a>
	            </li>
            </ul>
        </div>
        <div id="matter3" class="matter3" style="display: none">
			<ul>
	            <li>
	            	<a href="#">
						<h4></h4>
						<p>尚未开发</p>
	            	</a>
	            </li>
            </ul>
	    </div>
    </div>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>