<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Marked in the browser</title>
	<script type="text/javascript" src="../static/js/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
	<div id="content0" class="a"></div>
	<div id="content1" class="b"></div>
	<div id="content2" class="a b"></div>
	<div id="content3"></div>
	<div id="content4"></div>
	<div id="content5">
	  	<div id="content6"></div>
	  	<div id="content7"></div>
	  	<div id="content8"></div>
	  	<div id="content9"></div>
	  	<div id="content10">
			<div id="content11"></div>
			<div id="content12"></div>
			<div id="content13"></div>
			<div id="content14"></div>
			<div id="content15"></div>
	  	</div>
  </div>
  <script>
    function charToNum(char){
    var char = String(char);
    if (char.charCodeAt() <= 57) {
        return Number(char);
    }
    else{
        return char.charCodeAt() - 87;
    }
}
    function select1(){
        for (var p = 0; p < 10000; p++) {
            integer = '10001000';
            integer_result = 0
            hb = 2;
            for (let i = integer.length-1; i >= 0; i--) {
                let power = integer.length - i - 1;
                integer_result += Number(charToNum(integer[i])) * Math.pow(hb,power);
            }
        }
            console.log(integer_result)

    }
    function select2(){
        for (var p = 0; p < 10000; p++) {
            a = parseInt('10001000',2);
        }
        console.log(a)

    }
    function time(func, id){
    	var start = Date.now();
    	func(id);
    	var stop = Date.now();
    	return stop - start;
    }
    console.log(time(select1));
    console.log(time(select2));

  </script>
</body>
</html>