<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		body{
			cursor:url("https://www.emiya.com.cn/media/avatar/123.jpg"),auto
		}
	</style>
</head>
<body>
	<div id="a"></div>
	<script type="text/javascript">
		var ev = new Event("look", {"bubbles":true, "cancelable":false}),
			a = document.getElementById('a');
		document.addEventListener('look',function(){
			console.log('document look!');
		})
		a.addEventListener('look',function(){
			console.log('a look!');
		})
		a.dispatchEvent(ev);
		document.dispatchEvent(ev);
	</script>
</body>
</html>