{% load staticfiles %}
<!DOCTYPE html>
<html lang="cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" type="text/css" href="{% static 'css/zhihuVideoDownload/zhihuVideoDownload.css' %}">
	<script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
	<script type="text/javascript">
	   $youziku.load("main-box", "964890101e6740ba87ea0a502555cda0", "jdzhonyuanjian");
	   $youziku.load("body", "4b25254045ca4c748e0bc0a81fff289d", "Source-Han-Light")
	   $youziku.draw();
	</script>
	<title>知乎视频下载</title>
</head>
<body>
	<header>
		<div class="left">知乎视频下载</div>
		<div class="right"><a href="/#">首页</a></div>
	</header>
	<div class="main-box">
		<div class="search-box">
			<input type="text" name="url" placeholder="输入网址">
		</div>
		<div class="search-button">搜索</div>
		<div class="search-reason"></div>
	</div>
	<footer>
		<a href="zhihuVideoDownload/mzsm" class="mzsm">免责声明</div>
		<a href="http://www.miitbeian.gov.cn/" class="beian">晋ICP备18012113号-1</a>
	</footer>
</body>
</html>