{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>免责声明</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/mzsm.css' %}">
</head>
<body>
	<p style="margin-top: 40px">1.本网站所提供的视频均为网络上公开、合法、免费的视频，视频版权均为视频拍摄者、视频发布者即知乎网用户、知乎网所有。</p>
	<p>2.本网站所提供的视频链接均为知乎网子域名下的原视频链接。</p>
	<p>3.若本网站所提供的视频侵犯了您的合法权益，请联系 2914034404@qq.com 将视频删除。</p>
	<p>4.若本网站所提供的功能侵犯了知乎网的合法权益，请联系 2914034404@qq.com 将此功能下架。</p>
	<div class="return-div">
		<a href="http://www.emiya.com.cn/zhihu-video-download/" class="return">
			<div class="center-relative">返回主页</div>
		</a>
	</div>
</body>
</html>