.right-fish{
	
	position: absolute;
	margin-left: 15px;
	top: 580px

}

.right-fish-txt{

	margin-left: 9px;

}

.right-fish-flash{
	
	margin-left: 9px;
	width: 315px;
	height: 194px;
	margin-top: 25px;

}