.weather{

    position: fixed;
    margin: 58px 0 0 15px;
    height: 200px;
    width: 80%

}

.weather .now-tem{

    font-size: 50px;
    color: #919191;
    font-family:Arial,Helvetica,sans-serif;

}

.weather .now-wdp{

    font-size: 20px;
    color: #919191;
    font-family:Arial,Helvetica,sans-serif;

}