.matter3 {
    margin: 30px 5px 0 5px;
    padding: 0 5px 10px 0;
    height: 100%;
    word-break:break-all;
}

.personalCenter-menu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
}

.personalCenter-menu li:not(:last-child) {
	margin-right: 20px;
}

.personalCenter-menu li {
    z-index: 1;
}

.personalCenter-menu a {
	display: block;
	font-size: 18px;
	color: black;
	text-decoration: none;
	padding: 7px 15px;
}

.target {
	position: absolute;
	border-bottom: 4px solid transparent;
	transform: translateX(-60px);
	-webkit-transform: translateX(-60px);
	-ms-transform:translateX(-60px);
	-moz-transform:translateX(-60px);
	-o-transform:translateX(-60px);
          
}

.personalCenter-menu a, .target {
	transition: all .35s ease-in-out;
	-webkit-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
}

/*matter3-0*/
.matter3-0 .title{

    text-align: center;
    padding-top: 50px;
    letter-spacing: 13px;

}

.matter3-0 .tittle_3{

    padding-top: 100px;

}

.matter3-0 .content{

    text-indent: 2em;
    padding: 30px 8.7% 0 8.7%;

}

.content-4 .content{

    text-align: left;

}

.content-4{

    display: none;

}

.content-4 a{
    
    color: #83dac8;
    text-decoration: underline;

}

/*matter3-1*/
.developer-ul{

    margin-top: 30px

}

.developer{

    text-align: center;

}

/*matter3-2*/
.matter3-2{

    margin-left: 27%;

}

.donation .container1 {
    position: relative;
    top: -3px;
    left: 2px;
}

.donation .container2 {
    position: relative;
    top: -5px;
    left: 61px;
}

.container1 .d1, .container1 .d2{

    position: absolute;
    width: 43px;
    height: 43px;

}

.container2 .d1, .container2 .d2{

    position: absolute;
    width: 45px;
    height: 45px;

}

.donation .d2{
    
    opacity: 0;
    transition: all 0.3s;

}

.donation .d2:hover{

    opacity: 1

}

/*matter3-3*/
.suggestion{

    position: relative;
    width: 80%;
    margin: 70px 0 0 10%;

}

.suggestion-input-field input::-webkit-input-placeholder{
    color:#adadad;
    font-size: 16px;
}
.suggestion-input-field input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#adadad;
    font-size: 16px;
}
.suggestion-input-field input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#adadad;
    font-size: 16px;
}
.suggestion-input-field input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#adadad;
    font-size: 16px;
}

.suggestion-input-field *{
        
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;

}

.suggestion-input-field {

    position: relative;
    width: 40%;
    margin: 0 5%;

}

.suggestion-input-field input {

    background-color: transparent;
    border: none;
    border-radius: 0;
    height: 35px;
    width: 100%;
    padding: 0;
    box-shadow: none;
    outline: none;
    font-size: 16px;
    color: #555555;
    
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;

}

.suggestion-input-field input+span {

    position: absolute;
    top: 100%;
    left: 0;
    display: inline-block;
    max-width: 100%;
    z-index: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #d9d9d9;

}

.suggestion-input-field span:after {

    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--suggestionColor,#adadad);

    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;

}

.suggestion-input-field input:focus+span:after {
    
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);

}

.suggestion-input-field.suggestion-input-field-icon i{

    position:absolute;
    right:0;
    top:50%;
    padding:0 5px;
    font-size:1.5em;

    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);

}

.suggestion-input-field.suggestion-input-field-icon input{

    padding-right:30px;

}

.suggestion-input-field.error input+span{

    border-color: #fccbc7;

}

.suggestion-input-field.error span:after{

    background:#f44336;

}

.suggestion-input-field.suggestion-input-field-icon.error i{

    color: #f44336;

}

.suggestion-input-field.linear span:after {

    background:linear-gradient(left, #8C0044 20%, #00FFFF 50%, #7700FF 80%);
    background:-webkit-linear-gradient(left, #8C0044 20%, #00FFFF 50%, #7700FF 80%);
    background:-moz-linear-gradient(left, #8C0044 20%, #00FFFF 50%, #7700FF 80%);
    background:-o-linear-gradient(left, #8C0044 20%, #00FFFF 50%, #7700FF 80%);
    background:-ms-linear-gradient(left, #8C0044 20%, #00FFFF 50%, #7700FF 80%);

}

.suggestion-user-email{

	position: absolute;
    left: 50%;
    top: 0px;
    
}

.suggestion_content{

	position: relative;
    width: 90%;
    margin: 30px 5% 0 5%;

}

.suggestion-submit-button{

    position: absolute;
    left: 85%;
    margin: 25px 0 0 0;
    
}

.suggestion-comment-hint{

    position: absolute;
    left: 5%;
    margin: 25px 0 0 0;

}

.update_log{

    position: relative;
    border-radius: 25px;
    height: 250px;
    width: 27%;
    top: 125px;
    left: 53%;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(205,205,205,0.9)

}

.update_log ul{
    
    overflow: auto;
    height: 250px;
    width: 100%;

}

.update_content{

    position: relative;
    overflow: auto;
    height:300px;
    width: 31%;
    top: -150px;
    left: 15%;

}

.matter3-2 .content{

    padding-top: 25px;

}

.update_version{

    padding-top: 10px;

}