.matter3 {
    margin: 30px 5px 0 5px;
    padding: 0 5px 50px 0;
    height: 100%
}

.personalCenter-menu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
}

.personalCenter-menu li:not(:last-child) {
	margin-right: 20px;
}

.personalCenter-menu a {
	display: block;
	font-size: 18px;
	color: black;
	text-decoration: none;
	padding: 7px 15px;
}

.target {
	position: absolute;
	border-bottom: 4px solid transparent;
	transform: translateX(-60px);
	-webkit-transform: translateX(-60px);
	-ms-transform:translateX(-60px);
	-moz-transform:translateX(-60px);
	-o-transform:translateX(-60px);
          
}

.personalCenter-menu a, .target {
	transition: all .35s ease-in-out;
	-webkit-transition: all .35s ease-in-out;
	-ms-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
}
/*matter3-3*/
.suggestion{

    position: relative;
    margin: 70px 0 0 6.86%;

}

.suggestion-input-field *{
        
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;

}

.suggestion-input-field {

    position: relative;
    width: 20.5%;
    margin: 2.278% 2.847%;

}

.suggestion-input-field input {

    background-color: transparent;
    border: none;
    border-radius: 0;
    height: 35px;
    width: 100%;
    padding: 0;
    box-shadow: none;
    outline: none;
    
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;

}

.suggestion-input-field input+span {

    position: absolute;
    top: 100%;
    left: 0;
    display: inline-block;
    max-width: 100%;
    z-index: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #d9d9d9;

}

.suggestion-input-field span:after {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #adadad;

    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;

}

.suggestion-input-field input:focus+span:after {
    
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);

}

.suggestion-input-field.suggestion-input-field-icon i{

    position:absolute;
    right:0;
    top:50%;
    padding:0 5px;
    font-size:1.5em;

    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);

}

.suggestion-input-field.suggestion-input-field-icon input{

    padding-right:30px;

}

.suggestion-input-field.error input+span{

    border-color: #fccbc7;

}

.suggestion-input-field.error span:after{

    background:#f44336;

}

.suggestion-input-field.suggestion-input-field-icon.error i{

    color: #f44336;

}

.suggestion-input-field.linear span:after {

    background:linear-gradient(left, #8C0044 20%, #00FFFF 50%, #7700FF 80%);
    background:-webkit-linear-gradient(left, #8C0044 20%, #00FFFF 50%, #7700FF 80%);
    background:-moz-linear-gradient(left, #8C0044 20%, #00FFFF 50%, #7700FF 80%);
    background:-o-linear-gradient(left, #8C0044 20%, #00FFFF 50%, #7700FF 80%);
    background:-ms-linear-gradient(left, #8C0044 20%, #00FFFF 50%, #7700FF 80%);

}

.suggestion-input-comment{
    
    position: absolute;
    left: 26.2%;
    top: 0px;
    
}

.suggestion-input-comment{

    width: 62.6%

}

.suggestion-submit-button{

    position: absolute;
    left: 84.9%;
    top: 68%;
    
}

.suggestion-input-inline{

	position: absolute;
    left: 26.2%;
    top: 0px;
    
}