.matter2{

	width: 85%;
	margin: 35px 0 40px 7%;

}

.matter2 .app{
    
	display:-moz-inline-box;/* Firefox */
    display:-webkit-inline-box; /* Safari, Chrome, and Opera */
    display:inline-box;/* W3C */
    position: relative;
	letter-spacing: 2px;
    word-break: break-all;
    color: #000000;
    text-decoration:none;
    width: 27%;
    min-width: 180px;
    max-width: 220px;
    height: 220px;
    margin-left: 30px;
    margin-top: 30px;
    
}

.matter2 .app .appFadeIn{

    display: none;

}

.app .img-box img{

    position: absolute;
	width: 100%;
    top: -27px;

}

.app .img-box{

    position: absolute;
    overflow: hidden;
    background-color: #ffffff; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 158px;
    box-shadow:0px 0px 30px rgba(212,212,212,0.9);

}

.app .bottom-box{

    position: absolute;
    top: 158px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #ffffff; 
    width: 100%;
    height: 62px;

}

.app .bg-bottom-box{

    position: absolute;
    top: 158px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #ffffff; 
    width: 100%;
    height: 62px;
    box-shadow:0px 0px 30px rgba(212,212,212,0.9);

}

.matter2 .app-name{
    
    position:absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;

}