.matter1 {
    display: none;
    margin: 30px 5px 0 5px;
    padding: 0 5px 50px 0
}

.matter1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

/*.matter1 ul::-webkit-scrollbar {
        display: none;
    }*/


.matter1 ul li {
	display: none;
}

.content, .aCopy{
    /*文本*/
    letter-spacing: 2px;
	color: #000000;
	text-decoration:none;
    /*形状*/
	border-radius: 15px;
    background-color: #FFFFFF;
    padding: 17px 20px;
    width: 80%;
    height: 84px;
    margin-left: 41px;
    margin-top: 15px;
    /*阴影*/
    -moz-box-shadow:2px 2px 10px #C4C4C4;
    -webkit-box-shadow:2px 2px 10px #C4C4C4;
    box-shadow:2px 2px 10px #C4C4C4;
    /*渐变动画*/
    transition: transform 0.25s;
    -webkit-transition: transform 0.25s
}

.content {
    display: block;
}

.aCopy {
    display: none;
}

.content:hover {
    transform: scale(1.08,1.15);
}

#window {
    display:none;
    /*文本*/
    letter-spacing: 2px;
    color: #000000;
    text-decoration:none;
    /*形状*/
    border-radius: 15px;
    background-color: #FFFFFF;
    padding: 17px 20px;
    /*阴影*/
    -moz-box-shadow:2px 2px 10px #C4C4C4;
    -webkit-box-shadow:2px 2px 10px #C4C4C4;
    box-shadow:2px 2px 10px #C4C4C4;
    transition: transform 0.34s
}

.beforeOpenWindow{
    transform: scale(1.08,1.15);
}

.matter1 h4, #window h4{
	margin: 0 auto;
	padding: 0px 10px;
	font-weight: lighter;
	font-size: 13px;
}

.matter1 p, #window p{
	padding: 8px 10px;
	font-size: 15px;
    color: #333333
}

@keyframes backgroundBlur
{
    from {filter: blur(0px);}
    to {filter: blur(3px);}
}

@keyframes backgroundBlurFixed
{
    from {filter: blur(0px);position: fixed;}
    to {filter: blur(3px);position: fixed;}
}
 
.backgroundBlur{
    animation: backgroundBlur 0.35s;
    animation-fill-mode: forwards;
}

.backgroundBlurFixed{
    animation: backgroundBlurFixed 0.35s;
    animation-fill-mode: forwards;
}

@keyframes backgroundUnblur
{
    from {filter: blur(3px);}
    to {filter: blur(0px);}
}

@keyframes backgroundUnblurFixed
{
    from {filter: blur(3px);position: fixed;}
    to {filter: blur(0px);position: fixed;}
}

.backgroundUnblur{
    animation: backgroundUnblur 0.35s;
    animation-fill-mode: forwards;
}

.backgroundUnblurFixed{
    animation: backgroundUnblurFixed 0.35s;
    animation-fill-mode: forwards;
}

#windowBackground {
    display: none;
    position:fixed;
    overflow:hidden;
    top: 0;
    left: 0;
    height: 723px;
    width: 100%;
    margin: 0;
    padding: 0;
}