.matter0 {

    margin: 30px 5px 0 5px;
    padding: 0 5px 20px 0

}

.matter0 ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

}

.matter0 ul li {

    display: none;

}

.matter0 .title{

    color: #555555

}

.matter0 .content,.matter0 .aCopy,.matter1 .content,.matter1 .aCopy{

    letter-spacing: 2px;
    word-break: break-all;
    color: #000000;
    text-decoration:none;
    border-radius: 15px;
    background-color: #FFFFFF;
    padding: 17px 20px;
    width: 86%;
    height: 84px;
    margin-left: 5%;
    margin-top: 15px;
    box-shadow:0px 2px 15px rgba(212,212,212,0.9);
    transition: transform 0.25s;
    -webkit-transition: transform 0.25s;
    -moz-transition: transform 0.25s;
    -o-transition: transform 0.25s;

}

.matter0 .content,.matter1 .content{

    display: block;

}

.content-margin{

    margin: 20px 5px 0 10px;

}

.matter0 .aCopy,.matter1 .aCopy{

    display: none;

}

.matter0 .content:hover,.matter1 .content:hover {

    transform: scale(1.08,1.15) translate3d(0,0,0);

}

.loadStatus{
    
    display: none;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 12px;

}

.date{

    margin: 0 auto;
    padding: 0px 10px;

}

.mobile_beian{
    
    display: none;
    text-align: center;
    padding-top: 7px;
    letter-spacing: 0px;

}

.left-list-icon{
    
    width: 34px;
    margin-top: 10px;
    margin-left: 24px;
    float: left;

}

.list-icon-1{

    display: none;

}

.left-list-icon-out{

    width: 58px;
    height: 44px;
    float: left;
    position: relative;
    left: -58px;

}

.list-icon-2{

    display: none;

}

.list-shape{

    position: fixed;
    left: 15px;
    top: 20px;
    width: 39px;
    height: 39px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px rgba(173,173,173,0.8);
}

.float-left-list-icon{
    
    width: 28px;
    position: relative;
    left: 5px;
    top: 5px;

}

.float-left-list-icon-out{
    
    position: fixed;
    left: 14px;
    top: 19px;
    width: 42px;
    height: 42px;

}

.codeDiaryTag{
    
    height: 20px;
    border-radius: 10px;
    padding: 0 8px;
    margin-left: 10px;
    background-color: rgba(203,241,220,0.6);
    color: #333333;
    letter-spacing: 0px;
    box-shadow: 0px 1px 4px rgba(203,241,220,0.4);

}

.content .comment,.aCopy .comment{

    display: inline-block;

}

.content .comment-icon,.aCopy .comment-icon{
    
    width: 25px;
    padding-top: 14px;

}

.content .comment-num,.aCopy .comment-num{
    
    color: #696969;
    text-align: center;
    width: 20.63px;
    position: relative;
    top: -5px;

}

.brief-content{

    padding: 9px 10px;
    float: left;
    width: 93%;

}