.matter0 {

    margin: 30px 5px 0 5px;
    padding: 0 5px 50px 0

}

.matter0 ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

}

.matter0 ul li {

    display: none;

}

.title{

    color: #555555

}

.content, .aCopy{

    letter-spacing: 2px;
    color: #000000;
    text-decoration:none;
    border-radius: 15px;
    background-color: #FFFFFF;
    padding: 17px 20px;
    width: 86%;
    height: 84px;
    margin-left: 5%;
    margin-top: 15px;
    box-shadow:0px 2px 15px rgba(212,212,212,0.9);
    transition: transform 0.25s;
    -webkit-transition: transform 0.25s;
    -moz-transition: transform 0.25s;
    -o-transition: transform 0.25s;

}

.content {

    display: block;

}

.aCopy {

    display: none;

}

.content:hover {

    transform: scale(1.08,1.15) translate3d(0,0,0);

}

.look-more{

    color: #348ae6
    
}

.loadStatus{
    
    display: none;
    text-align: center;
    padding-top: 22px

}